<section class="container-fluid no-breadcrumbs">

	<div class="row">
		<div class="col-xl-6">
			<div class="box box-default">
				<div class="box-header">Basic Column</div>
				<div class="box-body">
					<div appECharts [EChartsOptions]="bar1" style="height: 350px;"></div>
				</div>
			</div>
		</div>

		<div class="col-xl-6">
			<div class="box box-default">
				<div class="box-header">Stacked Column</div>
				<div class="box-body">
					<div appECharts [EChartsOptions]="bar2" style="height: 350px;"></div>
				</div>
			</div>
		</div>
	</div>

	<div class="row">
		<div class="col-xl-6">
			<div class="box box-default">
				<div class="box-header">Basic Bar</div>
				<div class="box-body">
					<div appECharts [EChartsOptions]="bar3" style="height: 350px;"></div>
				</div>
			</div>
		</div>

		<div class="col-xl-6">
			<div class="box box-default">
				<div class="box-header">Stacked Bar</div>
				<div class="box-body">
					<div appECharts [EChartsOptions]="bar4" style="height: 350px;"></div>
				</div>
			</div>
		</div>
	</div>

	<div class="row">
		<div class="col-xl-12">
			<div class="box box-default">
				<div class="box-header">Tornado</div>
				<div class="box-body">
					<div appECharts [EChartsOptions]="bar5" style="height: 350px;"></div>
				</div>
			</div>
		</div>
	</div>

</section>
