<div class="app-reset-password-main-container">
	<div class="content-container text-center">
		<div class="reset-password-header">
			<h1>Reset Password</h1>
			<h2>Are you sure you want to reset your password?</h2>
		</div>

		<div class="button-container">
			<div class="reset-password-button">
				<a routerLink="/login" class="btn btn-login btn-primary btn-cta btn-lg btn-raised">Login</a>
			</div>
			<div class="reset-password-button">
				<a class="btn btn-primary btn-cta btn-lg btn-raised " (click)="onResetClick() ">Reset</a>
			</div>
		</div>
	</div>
</div>
