<section class="container-fluid with-maxwidth chapter">

	<article class="article">
		<h2 class="article-title">Basic Boxes</h2>
		<div class="row">
			<div class="col-xl-4">
				<div class="box box-default">
					<div class="box-header">Box Header</div>
					<div class="box-body">
						This is the body of box component. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Tenetur, quasi nam. Nisi assumenda
						nulla consequatur perferendis, voluptatum, laborum provident eos amet quos, ullam possimus facilis quasi? Magnam optio
						voluptates ipsam.
					</div>
				</div>
			</div>
			<div class="col-xl-4">
				<div class="box box-default">
					<div class="box-header box-dark">Box Header</div>
					<div class="box-body">
						This is the body of box component. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Tenetur, quasi nam. Nisi assumenda
						nulla consequatur perferendis, voluptatum, laborum provident eos amet quos, ullam possimus facilis quasi? Magnam optio
						voluptates ipsam.
					</div>
				</div>
			</div>
			<div class="col-xl-4">
				<div class="box box-default">
					<div class="box-header">Box Header</div>
					<div class="box-body box-dark">
						This is the body of box component. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Tenetur, quasi nam. Nisi assumenda
						nulla consequatur perferendis, voluptatum, laborum provident eos amet quos, ullam possimus facilis quasi? Magnam optio
						voluptates ipsam.
					</div>
				</div>
			</div>
		</div>
	</article>

	<article class="article">
		<h2 class="article-title">Boxes with Style</h2>
		<div class="row">
			<div class="col-xl-4">
				<div class="box box-default">
					<div class="box-header">Box with Divider</div>
					<div class="box-divider"></div>
					<div class="box-body">
						This is the body of box component. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Tenetur, quasi nam. Nisi assumenda
						nulla consequatur perferendis, voluptatum, laborum provident eos amet quos, ullam possimus facilis quasi? Magnam optio
						voluptates ipsam.
					</div>
				</div>
			</div>

			<div class="col-xl-4">
				<div class="box box-transparent">
					<div class="box-header">Transparent Box</div>
					<div class="box-body">
						This is the body of box component. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Tenetur, quasi nam. Nisi assumenda
						nulla consequatur perferendis, voluptatum, laborum provident eos amet quos, ullam possimus facilis quasi? Magnam optio
						voluptates ipsam.
					</div>
				</div>
			</div>
		</div>
	</article>


	<article class="article">
		<h2 class="article-title">Box Colors</h2>
		<div class="row">
			<div class="col-xl-4">
				<div class="box">
					<div class="box-header bg-color-dark">Box Header</div>
					<div class="box-body bg-color-white">
						This is the body of box component. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Tenetur, quasi nam. Nisi assumenda
						nulla consequatur perferendis, voluptatum, laborum provident eos amet quos, ullam possimus facilis quasi? Magnam optio
						voluptates ipsam.
					</div>
				</div>
			</div>
			<div class="col-xl-4">
				<div class="box">
					<div class="box-header bg-color-white">Box Header</div>
					<div class="box-body bg-color-dark">
						This is the body of box component. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Tenetur, quasi nam. Nisi assumenda
						nulla consequatur perferendis, voluptatum, laborum provident eos amet quos, ullam possimus facilis quasi? Magnam optio
						voluptates ipsam.
					</div>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-xl-4">
				<div class="box bg-color-dark">
					<div class="box-header">Box Header</div>
					<div class="box-body">
						This is the body of box component. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Tenetur, quasi nam. Nisi assumenda
						nulla consequatur perferendis, voluptatum, laborum provident eos amet quos, ullam possimus facilis quasi? Magnam optio
						voluptates ipsam.
					</div>
				</div>
			</div>
			<div class="col-xl-4">
				<div class="box">
					<div class="box-header bg-color-white">Box Header</div>
					<div class="box-body bg-color-white">
						This is the body of box component. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Tenetur, quasi nam. Nisi assumenda
						nulla consequatur perferendis, voluptatum, laborum provident eos amet quos, ullam possimus facilis quasi? Magnam optio
						voluptates ipsam.
					</div>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-xl-4">
				<div class="box bg-color-primary">
					<div class="box-header ">Box Header</div>
					<div class="box-body">
						This is the body of box component. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Tenetur, quasi nam. Nisi assumenda
						nulla consequatur perferendis, voluptatum, laborum provident eos amet quos, ullam possimus facilis quasi? Magnam optio
						voluptates ipsam.
					</div>
				</div>
			</div>
			<div class="col-xl-4">
				<div class="box bg-color-info">
					<div class="box-header ">Box Header</div>
					<div class="box-body">
						This is the body of box component. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Tenetur, quasi nam. Nisi assumenda
						nulla consequatur perferendis, voluptatum, laborum provident eos amet quos, ullam possimus facilis quasi? Magnam optio
						voluptates ipsam.
					</div>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-xl-4">
				<div class="box bg-color-success">
					<div class="box-header ">Box Header</div>
					<div class="box-divider"></div>
					<div class="box-body">
						This is the body of box component. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Tenetur, quasi nam. Nisi assumenda
						nulla consequatur perferendis, voluptatum, laborum provident eos amet quos, ullam possimus facilis quasi? Magnam optio
						voluptates ipsam.
					</div>
				</div>
			</div>
			<div class="col-xl-4">
				<div class="box bg-color-warning">
					<div class="box-header ">Box Header</div>
					<div class="box-divider"></div>
					<div class="box-body">
						This is the body of box component. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Tenetur, quasi nam. Nisi assumenda
						nulla consequatur perferendis, voluptatum, laborum provident eos amet quos, ullam possimus facilis quasi? Magnam optio
						voluptates ipsam.
					</div>
				</div>
			</div>
			<div class="col-xl-4">
				<div class="box bg-color-danger">
					<div class="box-header ">Box Header</div>
					<div class="box-divider"></div>
					<div class="box-body">
						This is the body of box component. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Tenetur, quasi nam. Nisi assumenda
						nulla consequatur perferendis, voluptatum, laborum provident eos amet quos, ullam possimus facilis quasi? Magnam optio
						voluptates ipsam.
					</div>
				</div>
			</div>
		</div>
	</article>

</section>
