<div class="page-lock">

	<div class="lock-centered clearfix">
		<div class="lock-container">
			<section class="lock-box">
				<div class="lock-user">{{AppConfig.user}}</div>
				<div class="lock-img">
					<img src="assets/images/g1.jpg" alt="">
				</div>
				<div class="lock-pwd">
					<form>
						<div class="form-group">
							<input type="password" placeholder="Password" class="form-control">
							<a [routerLink]="['/']" class="btn-submit">
								<i class="material-icons">keyboard_arrow_right</i>
							</a>
						</div>
					</form>
				</div>
			</section>
		</div>
	</div>
</div>
