<!-- <app-data-table-item *ngFor="let stockItem of stockItems" [stockItem]="stockItem">
</app-data-table-item> -->

<mat-table [dataSource]="dataSource">

	<!--- Note that these columns can be defined in any order.
  The actual rendered columns are set as a property on the row definition" -->

	<ng-container cdkColumnDef="registrationNumber">
		<mat-header-cell *cdkHeaderCellDef> Registration Number </mat-header-cell>
		<mat-cell *cdkCellDef="let row"> {{row.registrationNumber}} </mat-cell>
	</ng-container>

	<ng-container cdkColumnDef="make">
		<mat-header-cell *cdkHeaderCellDef> Make </mat-header-cell>
		<mat-cell *cdkCellDef="let row"> {{row.make}}% </mat-cell>
	</ng-container>

	<ng-container cdkColumnDef="model">
		<mat-header-cell *cdkHeaderCellDef> Model </mat-header-cell>
		<mat-cell *cdkCellDef="let row"> {{row.model}} </mat-cell>
	</ng-container>

	<ng-container cdkColumnDef="modelYear">
		<mat-header-cell *cdkHeaderCellDef> Model Year </mat-header-cell>
		<mat-cell *cdkCellDef="let row"> {{row.modelYear}} </mat-cell>
	</ng-container>

	<ng-container cdkColumnDef="odometer">
		<mat-header-cell *cdkHeaderCellDef> Odometer </mat-header-cell>
		<mat-cell *cdkCellDef="let row"> {{row.odometer}} </mat-cell>
	</ng-container>

	<ng-container cdkColumnDef="colour">
		<mat-header-cell *cdkHeaderCellDef> Colour </mat-header-cell>
		<mat-cell *cdkCellDef="let row" [style.color]="row.colour"> {{row.colour}} </mat-cell>
	</ng-container>

	<ng-container cdkColumnDef="retailPrice">
		<mat-header-cell *cdkHeaderCellDef> Retail Price </mat-header-cell>
		<mat-cell *cdkCellDef="let row"> {{row.retailPrice}} </mat-cell>
	</ng-container>

	<mat-header-row *cdkHeaderRowDef="displayedColumns"></mat-header-row>
	<mat-row *cdkRowDef="let row; columns: displayedColumns;"></mat-row>
</mat-table>

<mat-paginator #paginator [length]="stockItems.length" [pageIndex]="0" [pageSize]="25" [pageSizeOptions]="[5, 10, 25, 100]">
</mat-paginator>
