.login__page__main__container {
    height: 100%;
}

.login__page__version__container {
    position: fixed;
    bottom: 0;
    right: 0;
    p {
        font-size: 0.250em;
        color: #DEDEDE;
        margin-right: 2em;
    }
}
