<section class="container-fluid no-breadcrumbs">

	<div class="row">
		<div class="col-xl-6">
			<div class="box box-default">
				<div class="box-header">Basic Pie</div>
				<div class="box-body">
					<div appECharts [EChartsOptions]="pie1" style="height: 350px;"></div>
				</div>
			</div>
		</div>

		<div class="col-xl-6">
			<div class="box box-default">
				<div class="box-header">Doughnut</div>
				<div class="box-body">
					<div appECharts [EChartsOptions]="pie2" style="height: 350px;"></div>
				</div>
			</div>
		</div>
	</div>

	<div class="row">
		<div class="col-xl-12">
			<div class="box box-default">
				<div class="box-header">Nightingale's Rose Diagram</div>
				<div class="box-body">
					<div appECharts [EChartsOptions]="pie4" style="height: 350px;"></div>
				</div>
			</div>
		</div>
	</div>

</section>
