<section class="container-fluid with-maxwidth no-breadcrumbs chapter">
	<div class="row">
		<div class="col-xl-3 col-lg-6" *ngFor="let product of products">
			<a href="javascript:;" class="item-card">
				<div class="sash sash-triangle-right {{product.sash}}">
					<div>
						<i class="material-icons">{{product.sash_icon}}</i>
						<span class="sash-text">{{product.sash_text}}</span>
					</div>
				</div>
				<div class="card__image">
					<img alt="product" [src]="product.img" />
				</div>
				<div class="card__body card-white">
					<div class="card__title">
						<h6>Accessories</h6>
						<h4>{{product.name}}</h4>
					</div>
					<div class="card__price">
						<span class="type--strikethrough">$699.99</span>
						<span>$649.99</span>
					</div>
				</div>
			</a>
		</div>
	</div>
</section>
