<section class="container-fluid with-maxwidth chapter">

	<article class="article">
		<h2 class="article-title">Material Table</h2>
		<div class="box box-default table-box mdl-shadow--2dp">
			<table class="mdl-data-table">
				<thead>
					<tr>
						<th class="mdl-data-table__cell--non-numeric">#</th>
						<th class="mdl-data-table__cell--non-numeric">Code</th>
						<th class="mdl-data-table__cell--non-numeric">Material</th>
						<th>Quantity</th>
						<th>Unit price</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td class="mdl-data-table__cell--non-numeric">1</td>
						<td class="mdl-data-table__cell--non-numeric">AZ90</td>
						<td class="mdl-data-table__cell--non-numeric">Acrylic (Transparent)</td>
						<td>25</td>
						<td>$2.90</td>
					</tr>
					<tr>
						<td class="mdl-data-table__cell--non-numeric">2</td>
						<td class="mdl-data-table__cell--non-numeric">BC30</td>
						<td class="mdl-data-table__cell--non-numeric">Plywood (Birch)</td>
						<td>50</td>
						<td>$1.25</td>
					</tr>
					<tr>
						<td class="mdl-data-table__cell--non-numeric">3</td>
						<td class="mdl-data-table__cell--non-numeric">DL32</td>
						<td class="mdl-data-table__cell--non-numeric">Laminate (Gold on Blue)</td>
						<td>10</td>
						<td>$2.35</td>
					</tr>
				</tbody>
			</table>
		</div>
	</article>

	<article class="article">
		<h2 class="article-title">Table Style</h2>
		<div class="row">
			<div class="col-xl-6">
				<div class="box box-transparent">
					<div class="box-header no-padding-h">Basic table</div>
					<div class="box-body no-padding-h">

						<div class="box box-default table-box mdl-shadow--2dp">
							<table class="mdl-data-table">
								<thead>
									<tr>
										<th class="mdl-data-table__cell--non-numeric">#</th>
										<th class="mdl-data-table__cell--non-numeric">Material</th>
										<th>Quantity</th>
										<th>Unit price</th>
									</tr>
								</thead>
								<tbody>
									<tr>
										<td class="mdl-data-table__cell--non-numeric">1</td>
										<td class="mdl-data-table__cell--non-numeric">Acrylic (Transparent)</td>
										<td>25</td>
										<td>$2.90</td>
									</tr>
									<tr>
										<td class="mdl-data-table__cell--non-numeric">2</td>
										<td class="mdl-data-table__cell--non-numeric">Plywood (Birch)</td>
										<td>50</td>
										<td>$1.25</td>
									</tr>
									<tr>
										<td class="mdl-data-table__cell--non-numeric">3</td>
										<td class="mdl-data-table__cell--non-numeric">Laminate (Gold on Blue)</td>
										<td>10</td>
										<td>$2.35</td>
									</tr>
								</tbody>
							</table>
						</div>

					</div>
				</div>
			</div>
			<div class="col-xl-6">
				<div class="box box-transparent">
					<div class="box-header no-padding-h">Striped table</div>
					<div class="box-body no-padding-h">

						<div class="box box-default table-box mdl-shadow--2dp">
							<table class="mdl-data-table table-striped">
								<thead>
									<tr>
										<th class="mdl-data-table__cell--non-numeric">#</th>
										<th class="mdl-data-table__cell--non-numeric">Material</th>
										<th>Quantity</th>
										<th>Unit price</th>
									</tr>
								</thead>
								<tbody>
									<tr>
										<td class="mdl-data-table__cell--non-numeric">1</td>
										<td class="mdl-data-table__cell--non-numeric">Acrylic (Transparent)</td>
										<td>25</td>
										<td>$2.90</td>
									</tr>
									<tr>
										<td class="mdl-data-table__cell--non-numeric">2</td>
										<td class="mdl-data-table__cell--non-numeric">Plywood (Birch)</td>
										<td>50</td>
										<td>$1.25</td>
									</tr>
									<tr>
										<td class="mdl-data-table__cell--non-numeric">3</td>
										<td class="mdl-data-table__cell--non-numeric">Laminate (Gold on Blue)</td>
										<td>10</td>
										<td>$2.35</td>
									</tr>
								</tbody>
							</table>
						</div>

					</div>
				</div>
			</div>
		</div>

		<div class="row">
			<div class="col-xl-6">
				<div class="box box-transparent">
					<div class="box-header no-padding-h">Bordered table</div>
					<div class="box-body no-padding-h">

						<div class="box box-default table-box mdl-shadow--2dp">
							<table class="mdl-data-table table-bordered">
								<thead>
									<tr>
										<th class="mdl-data-table__cell--non-numeric">#</th>
										<th class="mdl-data-table__cell--non-numeric">Material</th>
										<th>Quantity</th>
										<th>Unit price</th>
									</tr>
								</thead>
								<tbody>
									<tr>
										<td class="mdl-data-table__cell--non-numeric">1</td>
										<td class="mdl-data-table__cell--non-numeric">Acrylic (Transparent)</td>
										<td>25</td>
										<td>$2.90</td>
									</tr>
									<tr>
										<td class="mdl-data-table__cell--non-numeric">2</td>
										<td class="mdl-data-table__cell--non-numeric">Plywood (Birch)</td>
										<td>50</td>
										<td>$1.25</td>
									</tr>
									<tr>
										<td class="mdl-data-table__cell--non-numeric">3</td>
										<td class="mdl-data-table__cell--non-numeric">Laminate (Gold on Blue)</td>
										<td>10</td>
										<td>$2.35</td>
									</tr>
								</tbody>
							</table>
						</div>

					</div>
				</div>
			</div>
			<div class="col-xl-6">
				<div class="box box-transparent">
					<div class="box-header no-padding-h">Contextual table</div>
					<div class="box-body no-padding-h">

						<div class="box box-default table-box mdl-shadow--2dp">
							<table class="mdl-data-table">
								<thead>
									<tr>
										<th class="mdl-data-table__cell--non-numeric">#</th>
										<th class="mdl-data-table__cell--non-numeric">Material</th>
										<th>Quantity</th>
										<th>Unit price</th>
									</tr>
								</thead>
								<tbody>
									<tr>
										<td class="mdl-data-table__cell--non-numeric">1</td>
										<td class="mdl-data-table__cell--non-numeric">Acrylic (Transparent)</td>
										<td>25</td>
										<td>$2.90</td>
									</tr>
									<tr class="bg-color-info">
										<td class="mdl-data-table__cell--non-numeric">2</td>
										<td class="mdl-data-table__cell--non-numeric">Plywood (Birch)</td>
										<td>50</td>
										<td>$1.25</td>
									</tr>
									<tr>
										<td class="mdl-data-table__cell--non-numeric">3</td>
										<td class="mdl-data-table__cell--non-numeric">Laminate (Gold on Blue)</td>
										<td>10</td>
										<td>$2.35</td>
									</tr>
								</tbody>
							</table>
						</div>

					</div>
				</div>
			</div>
		</div>
	</article>

</section>
