<section class="container-fluid with-maxwidth chapter">

	<article class="article">
		<h2 class="article-title">Basic Form</h2>
		<div class="box box-default">
			<div class="box-body padding-xl">

				<form role="form">
					<div class="form-group">
						<label for="exampleInputEmail1">Email address</label>
						<input type="email" class="form-control" id="exampleInputEmail1" placeholder="Enter email">
					</div>
					<div class="form-group">
						<label for="exampleInputPassword1">Password</label>
						<input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
					</div>
					<div class="checkbox">
						<label>
							<input type="checkbox"> Check me out
						</label>
					</div>
					<button mat-raised-button class="btn-w-md no-margin-left">Submit</button>
					<div class="divider"></div>
				</form>

			</div>
		</div>
	</article>


	<article class="article">
		<h2 class="article-title">Horizontal Form</h2>
		<div class="box box-default">
			<div class="box-body padding-xl">

				<form role="form">
					<div class="form-group row">
						<label for="inputEmail3" class="col-md-2 control-label">Email</label>
						<div class="col-md-10">
							<input type="email" class="form-control" id="inputEmail3" placeholder="Email">
						</div>
					</div>
					<div class="form-group row">
						<label for="inputPassword3" class="col-md-2 control-label">Password</label>
						<div class="col-md-10">
							<input type="password" class="form-control" id="inputPassword3" placeholder="Password">
						</div>
					</div>
					<div class="form-group row">
						<div class="col-md-2"></div>
						<div class="col-md-10">
							<div class="form-checkbox">
								<label class="form-check-label">
									<input class="form-check-input" type="checkbox"> Remember me
								</label>
							</div>
						</div>
					</div>
					<div class="form-group row">
						<div class="col-md-2"></div>
						<div class="col-md-10">
							<button mat-raised-button color="primary" class="btn-w-md no-margin-left">Sign in</button>
						</div>
					</div>
				</form>

			</div>
		</div>
	</article>


	<article class="article">
		<h2 class="article-title">Inline Form</h2>
		<div class="box box-default">
			<div class="box-body padding-xl">

				<form class="form-inline" role="form">
					<label class="sr-only" for="inlineFormInput">Name</label>
					<input type="text" class="form-control mb-2 mr-sm-2 mb-sm-0" id="inlineFormInput" placeholder="Jane Doe">

					<label class="sr-only" for="inlineFormInputGroup">Username</label>
					<div class="input-group mb-2 mr-sm-2 mb-sm-0">
						<div class="input-group-addon">@</div>
						<input type="text" class="form-control" id="inlineFormInputGroup" placeholder="Username">
					</div>

					<div class="form-check mb-2 mr-sm-2 mb-sm-0">
						<label class="form-check-label">
							<input class="form-check-input" type="checkbox"> Remember me
						</label>
					</div>
					<button mat-raised-button color="accent" class="btn-w-md no-margin-left">Sign in</button>
				</form>

			</div>
		</div>
	</article>


	<article class="article">
		<h2 class="article-title">Column sizing</h2>
		<div class="box box-default">
			<div class="box-body">

				<div class="form-group">
					<div class="row">
						<div class="col-md-1">
							<input type="text" class="form-control" placeholder="col-md-1">
						</div>
						<div class="col-md-11">
							<input type="text" class="form-control" placeholder="col-md-11">
						</div>
					</div>

					<div class="divider"></div>

					<div class="row">
						<div class="col-md-2">
							<input type="text" class="form-control" placeholder="col-md-2">
						</div>
						<div class="col-md-10">
							<input type="text" class="form-control" placeholder="col-md-10">
						</div>
					</div>

					<div class="divider"></div>

					<div class="row">
						<div class="col-md-3">
							<input type="text" class="form-control" placeholder="col-md-3">
						</div>
						<div class="col-md-9">
							<input type="text" class="form-control" placeholder="col-md-9">
						</div>
					</div>

					<div class="divider"></div>

					<div class="row">
						<div class="col-md-4">
							<input type="text" class="form-control" placeholder="col-md-4">
						</div>
						<div class="col-md-8">
							<input type="text" class="form-control" placeholder="col-md-8">
						</div>
					</div>

					<div class="divider"></div>

					<div class="row">
						<div class="col-md-5">
							<input type="text" class="form-control" placeholder="col-md-5">
						</div>
						<div class="col-md-7">
							<input type="text" class="form-control" placeholder="col-md-7">
						</div>
					</div>

					<div class="divider"></div>

					<div class="row">
						<div class="col-md-6">
							<input type="text" class="form-control" placeholder="col-md-6">
						</div>
						<div class="col-md-6">
							<input type="text" class="form-control" placeholder="col-md-6">
						</div>
					</div>

					<div class="divider"></div>

					<div class="row">
						<div class="col-md-7">
							<input type="text" class="form-control" placeholder="col-md-7">
						</div>
						<div class="col-md-5">
							<input type="text" class="form-control" placeholder="col-md-5">
						</div>
					</div>

					<div class="divider"></div>

					<div class="row">
						<div class="col-md-8">
							<input type="text" class="form-control" placeholder="col-md-8">
						</div>
						<div class="col-md-4">
							<input type="text" class="form-control" placeholder="col-md-4">
						</div>
					</div>

					<div class="divider"></div>

					<div class="row">
						<div class="col-md-9">
							<input type="text" class="form-control" placeholder="col-md-9">
						</div>
						<div class="col-md-3">
							<input type="text" class="form-control" placeholder="col-md-3">
						</div>
					</div>

					<div class="divider"></div>

					<div class="row">
						<div class="col-md-10">
							<input type="text" class="form-control" placeholder="col-md-10">
						</div>
						<div class="col-md-2">
							<input type="text" class="form-control" placeholder="col-md-2">
						</div>
					</div>

					<div class="divider"></div>

					<div class="row">
						<div class="col-md-11">
							<input type="text" class="form-control" placeholder="col-md-11">
						</div>
						<div class="col-md-1">
							<input type="text" class="form-control" placeholder="col-md-1">
						</div>
					</div>

					<div class="divider"></div>

				</div>

			</div>
		</div>
	</article>

</section>
