@import "variables";

@import "vendors/material2/material2";

@import "pages/demo";
@import "pages/auth";
@import "pages/error";
@import "pages/lock-screen";
@import "pages/profile";
@import "pages/invoice";
@import "pages/dashboard";
@import "pages/maintenance";
@import "pages/about";
@import "pages/terms";
@import "pages/blog";
