<app-base-dialog-form [pending]="pending$ | async" [errorMessage]="error$ | async">
	<div class="app-base-dialog-form-container">
		<header>
			<h3 class="app-base-dialog-form-header" mat-dialog-title>{{dialogTitle}}</h3>
		</header>

		<form class="app-base-dialog-form-content" [formGroup]="form" (ngSubmit)="submit()">

			<div class="app-base-dialog-form-form-item">
				<mat-form-field color="accent">
					<input matInput [minlength]="6" [maxlength]="50" formControlName="oldPassword" placeholder="Old Password" type="password"
					 required>
					<mat-hint align="end">{{form.get('oldPassword').value.length}} / 50</mat-hint>
					<mat-error *ngIf="form.get('oldPassword').touched && form.invalid">{{getRequiredErrorMessage()}}</mat-error>
					<mat-error *ngIf="form.get('oldPassword').hasError('minlength')">Minimum length is 6</mat-error>
				</mat-form-field>
			</div>

			<div class="app-base-dialog-form-form-item">
				<mat-form-field color="accent">
					<input matInput [minlength]="6" [maxlength]="50" formControlName="newPassword" placeholder="New Password" type="password"
					 required>
					<mat-hint align="end">{{form.get('newPassword').value.length}} / 50</mat-hint>
					<mat-error *ngIf="form.get('newPassword').touched && form.invalid">{{getRequiredErrorMessage()}}</mat-error>
					<mat-error *ngIf="form.get('newPassword').hasError('minlength')">Minimum length is 6</mat-error>
				</mat-form-field>
			</div>

			<div class="app-base-dialog-form-form-item">
				<mat-form-field color="accent">
					<input matInput [minlength]="6" [maxlength]="50" formControlName="confirmPassword" placeholder="Confirm Password" type="password"
					 required>
					<mat-hint align="end">{{form.get('confirmPassword').value.length}} / 50</mat-hint>
					<mat-error *ngIf="form.get('confirmPassword').touched && form.invalid">{{getRequiredErrorMessage()}}</mat-error>
					<mat-error *ngIf="form.get('confirmPassword').hasError('minlength')">Minimum length is 6</mat-error>
				</mat-form-field>
			</div>

		</form>

		<p *ngIf="errorMessage" class="dialog-error-message">
			{{errorMessage}}
		</p>

		<footer>
			<div class="app-base-dialog-form-footer float-right" mat-dialog-actions>
				<button mat-button class="btn-w-md mat-raised-button mat-primary" color="primary" [disabled]="form.invalid" (click)="onSubmitClick()">Submit</button>
				<button mat-button class="btn-w-md mat-raised-button" (click)="onCancelClick()" tabindex="-1">Cancel</button>
			</div>
		</footer>
	</div>
</app-base-dialog-form>
