// Images
$image_path: '../../../node_modules/material-design-lite/src/images/' !default; // material-design-lite
$local_image_path: '../../assets/images/' !default;
$local_image_path_demo: '../../demo/assets/demo-images/' !default;
