.app-sign-up-page-main-container {
	display: flex;
	flex: 1;
	height: 100%;
	align-items: center;
	justify-content: center;
}

.app-sign-up-page-version-container {
	position: fixed;
	bottom: 0;
	right: 0;
	p {
		font-size: 0.75em;
		color: #dedede;
		margin-right: 2em;
	}
}
