<div class="page-auth">
	<div class="main-body">
		<div class="card card-white">
			<div class="card-content">
				<div class="logo">
					<a [routerLink]="['/']">Reset</a>
				</div>

				<form name="material_login_form" class="form-validation">
					<fieldset>
						<mat-input-container class="full-width no-margin-bottom">
							<input required matInput placeholder="Email" type="email" name="email">
							<mat-icon matSuffix class="material-icons">mail_outline</mat-icon>
						</mat-input-container>
						<p class="text-center text-small no-margin">
							Enter your email address that you used to register. We'll send you an email with your username and a link to reset your password.
						</p>

						<div class="divider divider-md"></div>
						<button [routerLink]="['/']" mat-raised-button type="button" color="primary" class="float-right">Reset</button>
					</fieldset>
				</form>

				<div class="additional-info">
					<a [routerLink]="['/extra/login']">Login</a>
				</div>
			</div>
		</div>
	</div>
</div>
