<ul class="nav" appDemoAccordionNav appDemoAppendSubmenuIcon appSlimScroll appDemoHighlightActiveItems>
	<li>
		<a mat-button [routerLink]="['/demo/dashboard']">
			<i class="nav-icon material-icons">home</i>
			<span class="nav-text">Dashboard</span>
		</a>
	</li>
	<li>
		<a mat-button href="javascript:;" appDemoToggleQuickview="customizer">
			<i class="nav-icon material-icons">settings</i>
			<span class="nav-text">Customizer</span>
		</a>
	</li>
	<li>
		<a mat-button href="#/demo/ui">
			<i class="nav-icon material-icons">bubble_chart</i>
			<span class="nav-text">UI Kit</span>
		</a>
		<ul>
			<li>
				<a mat-button class="md-button prepend-icon" [routerLink]="['/demo/ui/typography']">
					<span>Typography</span>
				</a>
			</li>
			<li>
				<a mat-button class="md-button prepend-icon" [routerLink]="['/demo/ui/buttons']">
					<span>Buttons</span>
				</a>
			</li>
			<li>
				<a mat-button class="md-button prepend-icon" [routerLink]="['/demo/ui/icons']">
					<span>Icons</span>
					<span class="badge badge-pill badge-info">2</span>
				</a>
			</li>
			<li>
				<a mat-button class="md-button prepend-icon" [routerLink]="['/demo/ui/cards']">
					<span>Cards</span>
				</a>
			</li>
			<li>
				<a mat-button class="md-button prepend-icon" [routerLink]="['/demo/ui/icon-boxes']">
					<span>Icon Boxes</span>
				</a>
			</li>
			<li>
				<a mat-button class="md-button prepend-icon" [routerLink]="['/demo/ui/components']">
					<span>Components</span>
					<span class="badge badge-pill badge-danger">12</span>
				</a>
			</li>
			<li>
				<a mat-button class="md-button prepend-icon" [routerLink]="['/demo/ui/hover']">
					<span>Hover</span>
				</a>
			</li>
			<li>
				<a mat-button class="md-button prepend-icon" [routerLink]="['/demo/ui/feature-callouts']">
					<span>Feature Callouts</span>
				</a>
			</li>
			<li>
				<a mat-button class="md-button prepend-icon" [routerLink]="['/demo/ui/lists']">
					<span>Lists</span>
				</a>
			</li>
			<li>
				<a mat-button class="md-button prepend-icon" [routerLink]="['/demo/ui/sashes']">
					<span>Sashes</span>
				</a>
			</li>
			<li>
				<a mat-button class="md-button prepend-icon" [routerLink]="['/demo/ui/testimonials']">
					<span>Testimonials</span>
				</a>
			</li>
			<li>
				<a mat-button class="md-button prepend-icon" [routerLink]="['/demo/ui/pricing-tables']">
					<span>Pricing Tables</span>
				</a>
			</li>
			<li>
				<a mat-button class="md-button prepend-icon" [routerLink]="['/demo/ui/call-to-actions']">
					<span>Call to Actions</span>
				</a>
			</li>
			<li>
				<a mat-button class="md-button prepend-icon" [routerLink]="['/demo/ui/timeline']">
					<span>Timeline</span>
				</a>
			</li>
			<li>
				<a mat-button class="md-button prepend-icon" [routerLink]="['/demo/ui/boxes']">
					<span>Boxes</span>
				</a>
			</li>
			<li>
				<a mat-button class="md-button prepend-icon" [routerLink]="['/demo/ui/grids']">
					<span>Grids</span>
				</a>
			</li>
			<li>
				<a mat-button class="md-button prepend-icon" [routerLink]="['/demo/ui/color']">
					<span>Color</span>
				</a>
			</li>
		</ul>
	</li>
	<li>
		<a mat-button href="#/demo/form">
			<i class="nav-icon material-icons">format_color_text</i>
			<span class="nav-text">Forms</span>
		</a>
		<ul>
			<li>
				<a mat-button class="md-button prepend-icon" [routerLink]="['/demo/form/components']">
					<span>Components</span>
					<span class="badge badge-pill badge-info">10</span>
				</a>
			</li>
			<li>
				<a mat-button class="md-button prepend-icon" [routerLink]="['/demo/form/layouts']">
					<span>Form Layouts</span>
				</a>
			</li>
			<li>
				<a mat-button class="md-button prepend-icon" [routerLink]="['/demo/form/validation']">
					<span>Form Validation</span>
				</a>
			</li>
		</ul>
	</li>
	<li>
		<a mat-button href="#/demo/table">
			<i class="nav-icon material-icons">list</i>
			<span class="nav-text">Tables</span>
		</a>
		<ul>
			<li>
				<a mat-button class="md-button prepend-icon" [routerLink]="['/demo/table/static']">
					<span>Static Tables</span>
				</a>
			</li>
			<li>
				<a mat-button class="md-button prepend-icon" [routerLink]="['/demo/table/responsive']">
					<span>Responsive Tables</span>
				</a>
			</li>
			<li>
				<a mat-button class="md-button prepend-icon" [routerLink]="['/demo/table/data-table']">
					<span>Data Tables</span>
				</a>
			</li>
		</ul>
	</li>
	<li>
		<a mat-button href="#/demo/chart">
			<i class="nav-icon material-icons">equalizer</i>
			<span class="nav-text">Charts</span>
		</a>
		<ul>
			<li>
				<a mat-button class="md-button prepend-icon" [routerLink]="['/demo/chart/line']">Line &amp; Area</a>
			</li>
			<li>
				<a mat-button class="md-button prepend-icon" [routerLink]="['/demo/chart/bar']">Bar</a>
			</li>
			<li>
				<a mat-button class="md-button prepend-icon" [routerLink]="['/demo/chart/pie']">Pie</a>
			</li>
			<li>
				<a mat-button class="md-button prepend-icon" [routerLink]="['/demo/chart/scatter']">Scatter</a>
			</li>
			<li>
				<a mat-button class="md-button prepend-icon" [routerLink]="['/demo/chart/radar']">Radar</a>
			</li>
			<li>
				<a mat-button class="md-button prepend-icon" [routerLink]="['/demo/chart/funnel']">Funnel</a>
			</li>
			<li>
				<a mat-button class="md-button prepend-icon" [routerLink]="['/demo/chart/more']">More</a>
			</li>
		</ul>
	</li>
	<li class="nav-divider"></li>
	<li>
		<a mat-button href="#/demo/page">
			<i class="nav-icon material-icons">content_copy</i>
			<span class="nav-text">Pages</span>
		</a>
		<ul>
			<li>
				<a mat-button class="md-button prepend-icon" [routerLink]="['/demo/page/about']">About</a>
			</li>
			<li>
				<a mat-button class="md-button prepend-icon" [routerLink]="['/demo/page/services']">Services</a>
			</li>
			<li>
				<a mat-button class="md-button prepend-icon" [routerLink]="['/demo/page/contact']">Contact</a>
			</li>
			<li>
				<a mat-button class="md-button prepend-icon" [routerLink]="['/demo/page/careers']">Careers</a>
			</li>
			<li>
				<a mat-button class="md-button prepend-icon" [routerLink]="['/demo/page/blog']">Blog</a>
			</li>
			<li>
				<a mat-button class="md-button prepend-icon" [routerLink]="['/demo/page/faqs']">FAQs</a>
			</li>
			<li>
				<a mat-button class="md-button prepend-icon" [routerLink]="['/demo/page/terms']">Terms of Service</a>
			</li>
		</ul>
	</li>
	<li>
		<a mat-button href="#/extra">
			<i class="nav-icon material-icons">more_horiz</i>
			<span class="nav-text">Extra Pages</span>
		</a>
		<ul>
			<li>
				<a mat-button class="md-button prepend-icon" [routerLink]="['/extra/login']">
					<span>Login</span>
				</a>
			</li>
			<li>
				<a mat-button class="md-button prepend-icon" [routerLink]="['/extra/sign-up']">
					<span>Sign Up</span>
				</a>
			</li>
			<li>
				<a mat-button class="md-button prepend-icon" [routerLink]="['/extra/forgot-password']">
					<span>Forgot Password</span>
				</a>
			</li>
			<li>
				<a mat-button class="md-button prepend-icon" [routerLink]="['/extra/confirm-email']">
					<span>Confirm Email</span>
				</a>
			</li>
			<li>
				<a mat-button class="md-button prepend-icon" [routerLink]="['/extra/lock-screen']">
					<span>Lock Screen</span>
				</a>
			</li>
			<li>
				<a mat-button class="md-button prepend-icon" [routerLink]="['/extra/404']">
					<span>404 Error</span>
				</a>
			</li>
			<li>
				<a mat-button class="md-button prepend-icon" [routerLink]="['/extra/500']">
					<span>500 Error</span>
				</a>
			</li>
			<li>
				<a mat-button class="md-button prepend-icon" [routerLink]="['/extra/maintenance']">
					<span>Maintenance</span>
				</a>
			</li>
		</ul>
	</li>
	<li>
		<a mat-button href="#/demo/pglayout">
			<i class="nav-icon material-icons">view_array</i>
			<span class="nav-text">Page Layouts</span>
		</a>
		<ul>
			<li>
				<a mat-button class="md-button prepend-icon" [routerLink]="['/demo/pglayout/full-width']">
					<span>Full Width</span>
				</a>
			</li>
			<li>
				<a mat-button class="md-button prepend-icon" [routerLink]="['/demo/pglayout/centered']">
					<span>Centered</span>
				</a>
			</li>
			<li>
				<a mat-button class="md-button prepend-icon" [routerLink]="['/fullscreen']">
					<span>Fullscreen</span>
				</a>
			</li>
			<li>
				<a mat-button class="md-button prepend-icon" [routerLink]="['/demo/pglayout/with-tabs']">
					<span>With Tabs</span>
				</a>
			</li>
		</ul>
	</li>
	<li>
		<a mat-button href="#/demo/ecommerce" hidden>
			<i class="nav-icon material-icons">shopping_cart</i>
			<span class="nav-text">eCommerce</span>
		</a>
		<ul>
			<li>
				<a mat-button class="md-button prepend-icon" [routerLink]="['/demo/ecommerce/products']">
					<span>Products</span>
				</a>
			</li>
			<li>
				<a mat-button class="md-button prepend-icon" [routerLink]="['/demo/ecommerce/horizontal-products']">
					<span>Products (Horizontal)</span>
				</a>
			</li>
			<li>
				<a mat-button class="md-button prepend-icon" [routerLink]="['/demo/ecommerce/invoice']">
					<span>Invoice</span>
				</a>
			</li>
		</ul>
	</li>
	<li>
		<a mat-button href="#/demo/menu">
			<i class="nav-icon material-icons">sort</i>
			<span class="nav-text">Menu Levels</span>
		</a>
		<ul>
			<li>
				<a mat-button class="md-button prepend-icon" href="javascript:;">
					<span>Level 1</span>
				</a>
			</li>
			<li>
				<a mat-button class="md-button prepend-icon" href="javascript:;">
					<span>Level 1</span>
				</a>
				<ul>
					<li>
						<a mat-button class="md-button" href="javascript:;">
							<span>Level 2</span>
						</a>
					</li>
					<li>
						<a mat-button class="md-button" href="javascript:;">
							<span>Level 2</span>
						</a>
						<ul>
							<li>
								<a mat-button class="md-button" href="javascript:;">
									<span>Level 3</span>
								</a>
							</li>
							<li>
								<a mat-button class="md-button" href="javascript:;">
									<span>Level 3</span>
								</a>
							</li>
						</ul>
					</li>
				</ul>
			</li>
		</ul>
	</li>
	<li class="nav-divider"></li>
	<li class="li-small">
		<a mat-button [routerLink]="['/demo/form/components']">
			<i class="nav-icon nav-dot material-icons color-primary">fiber_manual_record</i>
			<span class="nav-text">Form Components</span>
		</a>
	</li>
	<li class="li-small">
		<a mat-button [routerLink]="['/demo/ui/components']">
			<i class="nav-icon nav-dot material-icons color-accent">fiber_manual_record</i>
			<span class="nav-text">UI Components</span>
		</a>
	</li>
</ul>
