<section class="app-landing-page">
	<div class="app-landing-page-inner" [ngClass]="{'bg-color-light': ['11','12','13','14','15','16','21'].indexOf(AppConfig.colorOption) >= 0,
				'bg-color-dark': AppConfig.colorOption === '31',
				'bg-color-primary': ['22','32'].indexOf(AppConfig.colorOption) >= 0,
				'bg-color-success': ['23','33'].indexOf(AppConfig.colorOption) >= 0,
				'bg-color-info': ['24','34'].indexOf(AppConfig.colorOption) >= 0,
				'bg-color-warning': ['25','35'].indexOf(AppConfig.colorOption) >= 0,
				'bg-color-danger': ['26','36'].indexOf(AppConfig.colorOption) >= 0}">

		<mat-toolbar class="landing-toolbar" color="primary">

			<div routerLink="/" class="landing-title-container">

				<svg class="logo-img" version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
				 x="0px" y="0px" viewBox="0 0 250 250" style="enable-background:new 0 0 250 250;" xml:space="preserve">
					<g>
						<g>
							<polygon class="st0" points="125,153.4 100.3,153.4 88.6,182.6 88.6,182.6 66.9,182.6 66.8,182.6 125,52.1 125,52.2 125,52.2
				   125,30 125,30 31.9,63.2 46.1,186.3 125,230 125,230 125,153.4    " />
							<polygon class="st0" points="108,135.4 125,135.4 125,135.4 125,94.5     " />
						</g>
						<g class="st1">
							<polygon class="st0" points="125,153.4 149.7,153.4 161.4,182.6 161.4,182.6 183.1,182.6 183.2,182.6 125,52.1 125,52.2 125,52.2
				   125,30 125,30 218.1,63.2 203.9,186.3 125,230 125,230 125,153.4    " />
							<polygon class="st0" points="142,135.4 125,135.4 125,135.4 125,94.5     " />
						</g>
					</g>
				</svg>

				<div class="brand">
					<h2>
						<a class='landing-title' [routerLink]="['/']">{{AppConfig.brand}}</a>
					</h2>
				</div>

			</div>

			<button mat-button class="outline-button" *ngIf="isAuthenticated" (click)="onLogoutClick()">
				LOGOUT
			</button>

			<button mat-button class="outline-button" (click)="onDemoClick()">
				DEMO
			</button>

			<span class="github-link">
				<a matTooltip="Source" matTooltipPosition="below" mat-icon-button href="https://github.com/nicolaspearson/angular.material.boilerplate"
				 target="_blank">
					<i class="fa fa-github fa-2x"></i>
				</a>
			</span>

		</mat-toolbar>
	</div>

	<div class="app-landing-page-outer">
		<div class="main-content">

			<div id="hero" class="hero" style="background: url(assets/images/background/5.png) repeat-y 0 0 fixed; background-size: cover;">
				<div class="container">
					<h2>Material Design Angular Admin</h2>
					<p>Material admin is a powerful admin template built with Google Material Design guideline in mind, it comes with tons
						of useful features and more on the way.</p>
					<a href="https://github.com/nicolaspearson/angular.material.boilerplate" target="_blank" class="btn btn-primary btn-cta btn-lg btn-raised ">Download Material</a>
				</div>
			</div>

			<div id="features" class="features">
				<header>
					<h2 class="section-heading-underline">Key Features</h2>
				</header>

				<div class="container">
					<div class="row">
						<div class="col-md-4">
							<div class="icon-box ibox-plain ibox-center no-margin-top">
								<div class="ibox-icon">
									<a href="javascript:;">
										<i class="material-icons">devices</i>
									</a>
								</div>
								<h3>Responsive Design</h3>
								<p>mobile-ready design adopt to any device</p>
							</div>
						</div>
						<div class="col-md-4">
							<div class="icon-box ibox-plain ibox-center no-margin-top">
								<div class="ibox-icon">
									<a href="javascript:;">
										<i class="material-icons">card_travel</i>
									</a>
								</div>
								<h3>Material UI Kit</h3>
								<p>material design ui kit with tons of components</p>
							</div>
						</div>
						<div class="col-md-4">
							<div class="icon-box ibox-plain ibox-center no-margin-top">
								<div class="ibox-icon">
									<a href="javascript:;">
										<i class="material-icons">desktop_mac</i>
									</a>
								</div>
								<h3>Web App</h3>
								<p>single page application with Angular</p>
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col-md-4">
							<div class="icon-box ibox-plain ibox-center">
								<div class="ibox-icon">
									<a href="javascript:;">
										<i class="material-icons">view_quilt</i>
									</a>
								</div>
								<h3>Powerful Layout</h3>
								<p>
									<span>multiple layouts to choose from</span>
									<br>
									<span>and build your own</span>
								</p>
							</div>
						</div>
						<div class="col-md-4">
							<div class="icon-box ibox-plain ibox-center">
								<div class="ibox-icon">
									<a href="javascript:;">
										<i class="material-icons">palette</i>
									</a>
								</div>
								<h3>Multiple Themes</h3>
								<p>
									<span>18 predefined color schemes,</span>
									<br>
									<span>light & dark themes</span>
								</p>
							</div>
						</div>
						<div class="col-md-4">
							<div class="icon-box ibox-plain ibox-center">
								<div class="ibox-icon">
									<a href="javascript:;">
										<i class="material-icons">remove_red_eye</i>
									</a>
								</div>
								<h3>High Resolution</h3>
								<p>high resolution screens are
									<br>
									<span>well supported</span>
								</p>
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col-md-4">
							<div class="icon-box ibox-plain ibox-center">
								<div class="ibox-icon">
									<a href="javascript:;">
										<i class="material-icons">language</i>
									</a>
								</div>
								<h3>Internationalization</h3>
								<p>internationalization and localization support</p>
							</div>
						</div>
						<div class="col-md-4">
							<div class="icon-box ibox-plain ibox-center">
								<div class="ibox-icon">
									<a href="javascript:;">
										<i class="material-icons">cloud_download</i>
									</a>
								</div>
								<h3>Lazy Loading</h3>
								<p>load modules when you need it</p>
							</div>
						</div>
						<div class="col-md-4">
							<div class="icon-box ibox-plain ibox-center">
								<div class="ibox-icon">
									<a href="javascript:;">
										<i class="material-icons">thumb_up</i>
									</a>
								</div>
								<h3>Solid Workflow</h3>
								<p>solid workflow with Webpack</p>
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col-md-4">
							<div class="icon-box ibox-plain ibox-center">
								<div class="ibox-icon">
									<a href="javascript:;">
										<i class="fa fa-html5"></i>
									</a>
								</div>
								<h3>Modern HTML5</h3>
								<p>clean code with modern HTML5</p>
							</div>
						</div>
						<div class="col-md-4">
							<div class="icon-box ibox-plain ibox-center">
								<div class="ibox-icon">
									<a href="javascript:;">
										<i class="fa fa-css3"></i>
									</a>
								</div>
								<h3>CSS3 with Sass</h3>
								<p>easy modification with Scss variables</p>
							</div>
						</div>
						<div class="col-md-4">
							<div class="icon-box ibox-plain ibox-center">
								<div class="ibox-icon">
									<a href="javascript:;">
										<i class="fa fa-bold"></i>
									</a>
								</div>
								<h3>With Bootstrap</h3>
								<p>made with Bootstrap 3.3.x</p>
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col-md-4">
							<div class="icon-box ibox-plain ibox-center">
								<div class="ibox-icon">
									<a href="javascript:;">
										<i class="material-icons">code</i>
									</a>
								</div>
								<h3>Clean Code</h3>
								<p>clean JS code with official
									<br>
									<span>style guide</span>
								</p>
							</div>
						</div>
						<div class="col-md-4">
							<div class="icon-box ibox-plain ibox-center">
								<div class="ibox-icon">
									<a href="javascript:;">
										<i class="material-icons">money_off</i>
									</a>
								</div>
								<h3>Free Updates</h3>
								<p>all fututre updates are free
									<br>
									<span>for all buyers</span>
								</p>
							</div>
						</div>
						<div class="col-md-4">
							<div class="icon-box ibox-plain ibox-center">
								<div class="ibox-icon">
									<a href="javascript:;">
										<i class="material-icons">favorite_border</i>
									</a>
								</div>
								<h3>Built with Love</h3>
								<p>built with love by @arousing
									<br>
									<span>with @ngtemplates</span>
								</p>
							</div>
						</div>
					</div>
					<div class="divider divider-lg"></div>
					<p class="text-center text-muted">
						<em>... and much more</em>
					</p>
				</div>
			</div>

			<div class="feature-callouts">
				<div class="feature-callout feature-content-right card-white image-pull clearfix">
					<div class="container-fluid with-maxwidth">
						<div class="col-12 col-md-6 offset-md-6">
							<div class="callout-feature-content" ngsReveal>
								<h2>Enjoy A Cup of Coffee</h2>
								<p>Why bother coding from scratch, doing dirty work yourself when there's already an amazing template out there? Download
									and build on top of it, so you can spend your valuable time on things far more important and joyful, like enjoy
									a cup of coffee.</p>
								<a href="https://github.com/nicolaspearson/angular.material.boilerplate" target="_blank" class="btn btn-primary btn-raised "
								 style="min-width: 150px; padding: 12px 0;">Try it Now</a>
							</div>
						</div>
					</div>
					<div class="col-12 col-md-6 feature-callout-image-pull" style="background-image: url(assets/images/background/4.jpg); background-position: center"></div>
				</div>

				<div class="feature-callout feature-content-left card-white image-pull clearfix">
					<div class="container-fluid with-maxwidth">
						<div class="col-12 col-md-6">
							<div class="callout-feature-content" ngsReveal>
								<h2>Or Spend Time with Loved Ones</h2>
								<p>Why bother coding from scratch, doing all the dirty work yourself when there's already an amazing template out there?
									Download and build on top of it, so you can spend your valuable time on things far more important and joyful, like
									spending time with loved ones.</p>
								<a href="https://github.com/nicolaspearson/angular.material.boilerplate" target="_blank" class="btn btn-primary btn-raised "
								 style="min-width: 150px; padding: 12px 0;">Try it Now</a>
							</div>
						</div>
					</div>
					<div class="col-12 col-md-6 offset-md-6 feature-callout-image-pull" style="background-image: url(assets/images/background/3.jpg); background-position: center"></div>
				</div>
			</div>

			<div id="faq" class="faq">
				<div class="container">
					<header>
						<h2 class="section-heading-underline">Why Angular</h2>
					</header>
					<ul class="faq-list">
						<li ngsReveal>
							<h4 class="faq-q">Develop Across All Platforms</h4>
							<p class="faq-a">Learn one way to build applications with Angular and reuse your code and abilities to build apps for any deployment
								target. For web, mobile web, native mobile and native desktop.</p>
						</li>
						<li ngsReveal>
							<h4 class="faq-q">Speed & Performance</h4>
							<p class="faq-a">Achieve the maximum speed possible on the Web Platform today, and take it further, via Web Workers and server-side
								rendering. Angular puts you in control over scalability. Meet huge data requirements by building data models on RxJS,
								Immutable.js or another push-model.</p>
						</li>
						<li ngsReveal>
							<h4 class="faq-q">Incredible Tooling</h4>
							<p class="faq-a">Build features quickly with simple, declarative templates. Extend the template language with your own components and
								use a wide array of existing components. Get immediate Angular-specific help and feedback with nearly every IDE and
								editor. All this comes together so you can focus on building amazing apps rather than trying to make the code work.</p>
						</li>
						<li ngsReveal>
							<h4 class="faq-q">Loved by Millions</h4>
							<p class="faq-a">From prototype through global deployment, Angular delivers the productivity and scalable infrastructure that supports
								Google's largest applications.</p>
						</li>
					</ul>
				</div>
			</div>

			<div id="testimonials" class="testimonials">
				<header>
					<h2 class="section-heading-underline">Testimonials</h2>
				</header>
				<article class="article">
					<div class="row">
						<div class="col-xl-4" *ngFor="let testimonial of testimonials">
							<div class="box box-default" ngsReveal>
								<div class="box-body padding-lg-v">
									<div class="testimonial testimonial-alt">
										<img alt="avatar" class="avatar" [src]="testimonial.avatar" />
										<blockquote>
											{{testimonial.content}}
										</blockquote>
										<p class="citation">{{testimonial.name}}, {{testimonial.title}}</p>
									</div>
								</div>
							</div>
						</div>
					</div>
				</article>
			</div>

			<div id="newsletter" style="background: url(assets/images/background/1.png) repeat-y 0 0 fixed; background-size: cover;"
			 class="newsletter">
				<div>
					<h2 ngsReveal>Get notified when we update!</h2>
					<form ngsReveal [formGroup]="form" (ngSubmit)="submitSubscribe()">
						<fieldset>
							<div class="form-group">
								<div class="ui-input-group">
									<input formControlName="email" placeholder="Email Address" type="text" required class="form-control">
									<span class="input-bar"></span>
									<br/>
									<mat-error *ngIf="form.get('email').touched && form.get('email').hasError('required')">
										An email address is required
									</mat-error>
								</div>
							</div>
							<a href="javascript:;" class="btn btn-primary btn-lg btn-raised ">Subscribe</a>
						</fieldset>
					</form>
				</div>
			</div>

			<div class="call-to-action text-center">
				<span ngsReveal>Getting started is easy. Be up and running in minutes.</span>
				<a href="https://github.com/nicolaspearson/angular.material.boilerplate" target="_blank" class="btn btn-default btn-cta btn-lg btn-raised "
				 ngsReveal>Download Material</a>
			</div>
		</div>

		<footer class="footer text-center">
			<span>© Copyright
				<span id="copyright"></span>{{AppConfig.brand}}</span>
		</footer>
	</div>
</section>
