<div class="app-forgot-password-main-container">
	<mat-card class="app-forgot-password-card">

		<div class="app-forgot-password-header">
			<div class="app-forgot-password-logo-container">
				<app-logo></app-logo>
			</div>
		</div>

		<mat-card-content class="app-forgot-password-card-content">
			<form class="app-forgot-password-form" [formGroup]="form" (ngSubmit)="submit()">
				<mat-form-field class="app-forgot-password-input">
					<input matInput [minlength]="1" [maxlength]="100" formControlName="emailAddress" placeholder="Email Address" type="email"
					 email required>
					<mat-hint align="end">{{form.get('emailAddress').value.length}} / 100</mat-hint>
					<mat-error *ngIf="form.get('emailAddress').hasError('email')">Invalid email address</mat-error>
				</mat-form-field>

				<p *ngIf="errorMessage" class="app-forgot-password-error">
					{{errorMessage}}
				</p>

				<p>
					<button class="app-forgot-password-button" type="submit" mat-raised-button color="primary">
						FORGOT PASSWORD
					</button>
				</p>

				<div class="app-forgot-password-form-remember-password">
					<a [routerLink]="['/login']">Remember your password?</a>
				</div>
			</form>
		</mat-card-content>

		<div class="app-forgot-password-additional-info">
			<a [routerLink]="['/sign-up']">Don't have an account yet? Sign Up</a>
		</div>

	</mat-card>
</div>
