<div myPreloader class="preloaderbar hide">
	<span class="bar"></span>
</div>
<div class="app-main full-height" [ngClass]="{'fixed-header' : AppConfig.fixedHeader,
				'nav-collapsed' : AppConfig.navCollapsed,
				'nav-behind' : AppConfig.navBehind,
				'layout-boxed' : AppConfig.layoutBoxed,
				'theme-gray' : AppConfig.theme == 'gray',
				'theme-dark' : AppConfig.theme == 'dark',
				'sidebar-sm' : AppConfig.sidebarWidth == 'small',
				'sidebar-lg' : AppConfig.sidebarWidth == 'large'}">
	<!-- <mat-toolbar color="primary">
			<span routerLink="/" class="title__container">
				<img [src]="logo" />{{title}}
			</span>

			<button mat-button class="logout-button" *ngIf="isAuthenticated" (click)="onLogoutClick()">
				LOGOUT
			</button>

			<span class="link">
				<a matTooltip="Source" matTooltipPosition="below" mat-icon-button href="https://github.com/nicolaspearson/angular.material.boilerplate"
				 target="_blank">
					<i class="fa fa-github fa-2x"></i>
				</a>
			</span>

		</mat-toolbar> -->
	<router-outlet></router-outlet>
</div>
