<section class="chapter">

	<div class="container-fluid with-maxwidth">
		<article class="article">
			<h2 class="article-title">Basic</h2>

			<div class="box box-default">
				<div class="box-body">
					<div class="call-to-action cta-inline">
						<div class="cta-inner">
							<span class="cta-text">Download it now and get up and running in minutes</span>
							<div class="cta-btn">
								<button mat-raised-button color="accent" class="btn-w-md">Free Download</button>
							</div>
						</div>
					</div>
				</div>
			</div>
		</article>
	</div>

	<div class="container-fluid with-maxwidth">
		<article class="article no-margin-bttom">
			<h2 class="article-title">Full Width (Inline)</h2>
		</article>
	</div>
	<div class="call-to-action cta-inline cta-full-width card-white">
		<div class="cta-inner">
			<span class="cta-text">Download it now and get up and running in minutes</span>
			<div class="cta-btn">
				<button mat-raised-button color="accent" class="btn-w-md">Free Download</button>
			</div>
		</div>
	</div>
	<div class="divider"></div>


	<div class="container-fluid with-maxwidth">
		<article class="article no-margin-bttom">
			<h2 class="article-title">Full Width</h2>
		</article>
	</div>
	<div class="call-to-action cta-full-width card-white">
		<div class="cta-inner">
			<span class="cta-text">Download it now and get up and running in minutes</span>
			<div class="cta-btn">
				<button mat-raised-button color="accent" class="btn-w-lg">Free Download</button>
			</div>
			<div class="cta-muted">No spam! We promise, only the best stuff.</div>
		</div>
	</div>
	<div class="divider"></div>

	<div class="container-fluid with-maxwidth">
		<article class="article no-margin-bttom">
			<h2 class="article-title">Image Background</h2>
		</article>
	</div>
	<div class="call-to-action cta-bg-img cta-full-width" style="background-image: url(demo/assets/demo-images/covers/photo-3.jpg);">
		<div class="cta-inner">
			<span class="cta-text">Download it now and get up and running in minutes</span>
			<div class="cta-btn">
				<button mat-raised-button color="accent" class="btn-w-lg">Free Download</button>
			</div>
			<div class="cta-muted">No spam! We promise, only the best stuff.</div>
		</div>
	</div>

</section>
