<section class="container-fluid with-maxwidth chapter">

	<article class="article">
		<h2 class="article-title">Material Buttons</h2>
		<div class="row">
			<div class="col-xl-5">

				<div class="box box-default">
					<div class="box-header">Raised</div>
					<div class="box-body text-center">
						<button mat-raised-button class="btn-w-md">Default</button>
						<div class="divider divider-sm"></div>
						<button mat-raised-button color="primary" class="btn-w-md">Primary</button>
						<div class="divider divider-sm"></div>
						<button mat-raised-button color="accent" class="btn-w-md">Accent</button>
						<div class="divider divider-sm"></div>
						<button mat-raised-button color="warn" class="btn-w-md">Warn</button>
						<div class="divider divider-sm"></div>
						<button mat-raised-button class="btn-w-md" disabled>Disabled</button>
						<div class="divider divider-sm"></div>
					</div>
				</div>

			</div>
			<div class="col-xl-5">

				<div class="box box-default">
					<div class="box-header">Flat</div>
					<div class="box-body text-center">
						<button mat-button class="btn-w-md">Default</button>
						<div class="divider divider-sm"></div>
						<button mat-button color="primary" class="btn-w-md">Primary</button>
						<div class="divider divider-sm"></div>
						<button mat-button color="accent" class="btn-w-md">Accent</button>
						<div class="divider divider-sm"></div>
						<button mat-button color="warn" class="btn-w-md">Warn</button>
						<div class="divider divider-sm"></div>
						<button mat-button class="btn-w-md" disabled>Disabled</button>
						<div class="divider divider-sm"></div>
					</div>
				</div>

			</div>
		</div>
		<div class="row">
			<div class="col-xl-5">

				<div class="box box-default">
					<div class="box-header">FAB</div>
					<div class="box-body text-center">

						<button mat-fab color="primary">
							<mat-icon class="material-icons">cake</mat-icon>
						</button>
						<span class="space"></span>
						<button mat-mini-fab>
							<mat-icon class="material-icons">cake</mat-icon>
						</button>
						<span class="space"></span>
						<button mat-fab>
							<mat-icon class="material-icons">android</mat-icon>
						</button>
						<span class="space"></span>
						<button mat-fab olor="warn">
							<mat-icon class="material-icons">people</mat-icon>
						</button>
						<span class="space"></span>
						<button mat-fab disabled>
							<mat-icon class="material-icons">comment</mat-icon>
						</button>

					</div>
				</div>

			</div>
			<div class="col-xl-5">

				<div class="box box-default">
					<div class="box-header">Icon Button</div>
					<div class="box-body text-center">

						<button mat-icon-button>
							<mat-icon class="material-icons">menu</mat-icon>
						</button>
						<button mat-icon-button>
							<mat-icon class="material-icons">favorite</mat-icon>
						</button>
						<button mat-icon-button>
							<mat-icon class="material-icons">more_vert</mat-icon>
						</button>

					</div>
				</div>

			</div>

		</div>

	</article>


	<article class="article">
		<h2 class="article-title">Button Variables</h2>

		<div class="row">
			<div class="col-xl-5">
				<div class="box box-default">
					<div class="box-header">Width</div>
					<div class="box-body text-center">
						<button mat-raised-button class="btn-w-xs">xs</button>
						<div class="divider divider-sm"></div>
						<button mat-raised-button color="primary" class="btn-w-sm">small</button>
						<div class="divider divider-sm"></div>
						<button mat-raised-button color="accent" class="btn-w-md">middle</button>
						<div class="divider divider-sm"></div>
						<button mat-raised-button color="accent" class="btn-w-lg">large</button>
						<div class="divider divider-sm"></div>
					</div>
				</div>
			</div>
			<div class="col-xl-5">
				<div class="box box-default">
					<div class="box-header">Sizes</div>
					<div class="box-body text-center">
						<button mat-raised-button color="primary" class="btn-sm">Small Button</button>
						<div class="divider divider-sm"></div>
						<div class="divider divider-sm"></div>
						<button mat-raised-button color="accent">Default button</button>
						<div class="divider divider-sm"></div>
						<div class="divider divider-sm"></div>
						<button mat-raised-button color="accent" class="btn-lg">Large button</button>
						<div class="divider divider-sm"></div>
					</div>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-xl-5">
				<div class="box box-default">
					<div class="box-header">Social icons</div>
					<div class="box-body text-center">
						<p>
							<a href="javascript:;" class="btn-icon btn-icon-sm btn-twitter">
								<i class="fa fa-twitter"></i>
							</a>
							<a href="javascript:;" class="btn-icon btn-icon-sm btn-facebook">
								<i class="fa fa-facebook"></i>
							</a>
							<a href="javascript:;" class="btn-icon btn-icon-sm btn-google-plus">
								<i class="fa fa-google"></i>
							</a>
							<a href="javascript:;" class="btn-icon btn-icon-sm btn-pinterest">
								<i class="fa fa-pinterest"></i>
							</a>
							<a href="javascript:;" class="btn-icon btn-icon-sm btn-instagram">
								<i class="fa fa-instagram"></i>
							</a>
							<a href="javascript:;" class="btn-icon btn-icon-sm btn-rss">
								<i class="fa fa-rss"></i>
							</a>
						</p>
						<p>
							<a href="javascript:;" class="btn-icon btn-icon-sm btn-tumblr">
								<i class="fa fa-tumblr"></i>
							</a>
							<a href="javascript:;" class="btn-icon btn-icon-sm btn-linkedin">
								<i class="fa fa-linkedin"></i>
							</a>
							<a href="javascript:;" class="btn-icon btn-icon-sm btn-dribbble">
								<i class="fa fa-dribbble"></i>
							</a>
							<a href="javascript:;" class="btn-icon btn-icon-sm btn-youtube">
								<i class="fa fa-youtube"></i>
							</a>
							<a href="javascript:;" class="btn-icon btn-icon-sm btn-github">
								<i class="fa fa-github"></i>
							</a>
							<a href="javascript:;" class="btn-icon btn-icon-sm btn-skype">
								<i class="fa fa-skype"></i>
							</a>
						</p>
						<div class="divider divider-sm"></div>
						<p>
							<a href="javascript:;" class="btn-icon btn-icon-round btn-icon-sm btn-twitter">
								<i class="fa fa-twitter"></i>
							</a>
							<a href="javascript:;" class="btn-icon btn-icon-round btn-icon-sm btn-facebook">
								<i class="fa fa-facebook"></i>
							</a>
							<a href="javascript:;" class="btn-icon btn-icon-round btn-icon-sm btn-google-plus">
								<i class="fa fa-google"></i>
							</a>
							<a href="javascript:;" class="btn-icon btn-icon-round btn-icon-sm btn-pinterest">
								<i class="fa fa-pinterest"></i>
							</a>
							<a href="javascript:;" class="btn-icon btn-icon-round btn-icon-sm btn-instagram">
								<i class="fa fa-instagram"></i>
							</a>
							<a href="javascript:;" class="btn-icon btn-icon-round btn-icon-sm btn-rss">
								<i class="fa fa-rss"></i>
							</a>
						</p>
						<p>
							<a href="javascript:;" class="btn-icon btn-icon-round btn-icon-sm btn-tumblr">
								<i class="fa fa-tumblr"></i>
							</a>
							<a href="javascript:;" class="btn-icon btn-icon-round btn-icon-sm btn-linkedin">
								<i class="fa fa-linkedin"></i>
							</a>
							<a href="javascript:;" class="btn-icon btn-icon-round btn-icon-sm btn-dribbble">
								<i class="fa fa-dribbble"></i>
							</a>
							<a href="javascript:;" class="btn-icon btn-icon-round btn-icon-sm btn-youtube">
								<i class="fa fa-youtube"></i>
							</a>
							<a href="javascript:;" class="btn-icon btn-icon-round btn-icon-sm btn-github">
								<i class="fa fa-github"></i>
							</a>
							<a href="javascript:;" class="btn-icon btn-icon-round btn-icon-sm btn-skype">
								<i class="fa fa-skype"></i>
							</a>
						</p>
					</div>
				</div>
			</div>
			<div class="col-xl-5">
				<div class="box box-default">
					<div class="box-header">FAB</div>
					<div class="box-body text-center">
						<p>
							<button mat-fab aria-label="Eat cake">
								<mat-icon class="material-icons">cake</mat-icon>
							</button>
							<span class="space"></span>
							<button mat-mini-fab aria-label="Eat cake">
								<mat-icon class="material-icons">cake</mat-icon>
							</button>
						</p>
						<div class="divider"></div>
						<p>
							<button mat-mini-fab color="primary">
								<mat-icon class="material-icons">more_vert</mat-icon>
							</button>
							<span class="space"></span>
							<button mat-fab color="primary">
								<mat-icon class="material-icons">more_vert</mat-icon>
							</button>
						</p>
					</div>
				</div>
			</div>
		</div>

	</article>

</section>
