<div class="page-err">
	<div class="err-container text-center">
		<div class="err">
			<h1>404: Page Not Found</h1>
			<h2>Sorry, but the page you were trying to view does not exist.</h2>
		</div>

		<div class="button-container">
			<div class="err-button">
				<a class="btn btn-go-back btn-primary btn-cta btn-lg btn-raised" (click)="onBackClick()">Back</a>
			</div>
			<div class="err-button">
				<a routerLink="/" class="btn btn-primary btn-cta btn-lg btn-raised">Home</a>
			</div>
		</div>
	</div>
</div>
