<section class="container-fluid no-breadcrumbs">

	<div class="row">
		<div class="col-xl-12">
			<div class="box box-default">
				<div class="box-header">Basic Scatter</div>
				<div class="box-body">
					<div appECharts [EChartsOptions]="scatter1" style="height: 350px;"></div>
				</div>
			</div>

		</div>
	</div>

	<div class="row">
		<div class="col-xl-12">
			<div class="box box-default">
				<div class="box-header">Basic Bubble</div>
				<div class="box-body">
					<div appECharts [EChartsOptions]="scatter2" style="height: 350px;"></div>
				</div>
			</div>
		</div>
	</div>

</section>
