<section class="container-fluid chapter page-grids">

  <article class="article">
    <h2 class="article-title">Bootstrap Grid options</h2>
    <div class="box box-default table-box mdl-shadow--2dp">
      <table class="mdl-data-table table-bordered mdl-data-table-non-numeric">
        <thead>
          <tr>
            <th></th>
            <th class="text-center">
              Extra small<br>
              <small>&lt;576px</small>
            </th>
            <th class="text-center">
              Small<br>
              <small>≥576px</small>
            </th>
            <th class="text-center">
              Medium<br>
              <small>≥768px</small>
            </th>
            <th class="text-center">
              Large<br>
              <small>≥992px</small>
            </th>
            <th class="text-center">
              Extra large<br>
              <small>≥1200px</small>
            </th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th class="text-nowrap" scope="row">Max container width</th>
            <td>None (auto)</td>
            <td>540px</td>
            <td>720px</td>
            <td>960px</td>
            <td>1140px</td>
          </tr>
          <tr>
            <th class="text-nowrap" scope="row">Class prefix</th>
            <td><code>.col-</code></td>
            <td><code>.col-sm-</code></td>
            <td><code>.col-md-</code></td>
            <td><code>.col-lg-</code></td>
            <td><code>.col-xl-</code></td>
          </tr>
          <tr>
            <th class="text-nowrap" scope="row"># of columns</th>
            <td colspan="5">12</td>
          </tr>
          <tr>
            <th class="text-nowrap" scope="row">Gutter width</th>
            <td colspan="5">30px (15px on each side of a column)</td>
          </tr>
          <tr>
            <th class="text-nowrap" scope="row">Nestable</th>
            <td colspan="5">Yes</td>
          </tr>
          <tr>
            <th class="text-nowrap" scope="row">Column ordering</th>
            <td colspan="5">Yes</td>
          </tr>
        </tbody>
      </table>
    </div>
  </article>


  <article class="article">
    <h2 class="article-title">Example</h2>
    <div class="box box-default">
      <div class="box-body">

          <div class="grid-structure">
            <div class="row">
              <div class="col-md-12">
                <div class="widget-container">
                  .col-md-12
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-11">
                <div class="widget-container">
                  .col-md-11
                </div>
              </div>
              <div class="col-md-1">
                <div class="widget-container">
                  .col-md-1
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-10">
                <div class="widget-container">
                  .col-md-10
                </div>
              </div>
              <div class="col-md-2">
                <div class="widget-container">
                  .col-md-2
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-9">
                <div class="widget-container">
                  .col-md-9
                </div>
              </div>
              <div class="col-md-3">
                <div class="widget-container">
                  .col-md-3
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-8">
                <div class="widget-container">
                  .col-md-8
                </div>
              </div>
              <div class="col-md-4">
                <div class="widget-container">
                  .col-md-4
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-7">
                <div class="widget-container">
                  .col-md-7
                </div>
              </div>
              <div class="col-md-5">
                <div class="widget-container">
                  .col-md-5
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-6">
                <div class="widget-container">
                  .col-md-6
                </div>
              </div>
              <div class="col-md-6">
                <div class="widget-container">
                  .col-md-6
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-5">
                <div class="widget-container">
                  .col-md-5
                </div>
              </div>
              <div class="col-md-7">
                <div class="widget-container">
                  .col-md-7
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-4">
                <div class="widget-container">
                  .col-md-4
                </div>
              </div>
              <div class="col-md-8">
                <div class="widget-container">
                  .col-md-8
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-3">
                <div class="widget-container">
                  .col-md-3
                </div>
              </div>
              <div class="col-md-9">
                <div class="widget-container">
                  .col-md-9
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-2">
                <div class="widget-container">
                  .col-md-2
                </div>
              </div>
              <div class="col-md-10">
                <div class="widget-container">
                  .col-md-10
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-1">
                <div class="widget-container">
                  .col-md-1
                </div>
              </div>
              <div class="col-md-11">
                <div class="widget-container">
                  .col-md-11
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-2">
                <div class="widget-container">
                  .col-md-2
                </div>
              </div>
              <div class="col-md-3">
                <div class="widget-container">
                  .col-md-3
                </div>
              </div>
              <div class="col-md-4">
                <div class="widget-container">
                  .col-md-4
                </div>
              </div>
              <div class="col-md-2">
                <div class="widget-container">
                  .col-md-2
                </div>
              </div>
              <div class="col-md-1">
                <div class="widget-container">
                  .col-md-1
                </div>
              </div>
            </div>
          </div>

      </div>
    </div>
  </article>

</section>

