<section class="container-fluid with-maxwidth chapter">

	<article class="article">
		<h2 class="article-title">Material Hover</h2>

		<div class="row">
			<div class="col-xl-4">
				<div class="ih-item ih-material">
					<a href="javascript:;">
						<div class="img">
							<img src="demo/assets/demo-images/assets/600_400-1.jpg" alt="">
						</div>
						<div class="info">
							<div class="info-mask bg-color-primary"></div>
							<div class="info-content">
								<div class="info-inner">
									<h3>Heading Here</h3>
									<p>Description goes here</p>
								</div>
							</div>
						</div>
					</a>
				</div>
			</div>
			<div class="col-xl-4">
				<div class="ih-item ih-material">
					<a href="javascript:;">
						<div class="img">
							<img src="demo/assets/demo-images/assets/600_400-2.jpg" alt="">
						</div>
						<div class="info">
							<div class="info-mask bg-color-info"></div>
							<div class="info-content">
								<div class="info-inner">
									<h3>Heading Here</h3>
									<p>Description goes here</p>
								</div>
							</div>
						</div>
					</a>
				</div>
			</div>
			<div class="col-xl-4">
				<div class="ih-item ih-material">
					<a href="javascript:;">
						<div class="img">
							<img src="demo/assets/demo-images/assets/600_400-3.jpg" alt="">
						</div>
						<div class="info">
							<div class="info-mask bg-color-dark"></div>
							<div class="info-content">
								<div class="info-inner">
									<h3>Heading Here</h3>
									<p>Description goes here</p>
								</div>
							</div>
						</div>
					</a>
				</div>
			</div>
		</div>
	</article>

	<article class="article">
		<h2 class="article-title">Classic</h2>

		<div class="row">
			<div class="col-xl-4">
				<div class="ih-item square effect3 bottom_to_top">
					<a href="javascript:;">
						<div class="img">
							<img src="demo/assets/demo-images/assets/600_400-1.jpg" alt="img">
						</div>
						<div class="info">
							<h3>Heading here</h3>
							<p>Description goes here</p>
						</div>
					</a>
				</div>
			</div>
			<div class="col-xl-4">
				<div class="ih-item square effect3 bottom_to_top">
					<a href="javascript:;">
						<div class="img">
							<img src="demo/assets/demo-images/assets/600_400-2.jpg" alt="img">
						</div>
						<div class="info bg-color-info">
							<h3>Heading here</h3>
							<p>Description goes here</p>
						</div>
					</a>
				</div>
			</div>
			<div class="col-xl-4">
				<div class="ih-item square effect3 bottom_to_top">
					<a href="javascript:;">
						<div class="img">
							<img src="demo/assets/demo-images/assets/600_400-3.jpg" alt="img">
						</div>
						<div class="info bg-color-primary">
							<h3>Heading here</h3>
							<p>Description goes here</p>
						</div>
					</a>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-xl-4">
				<div class="ih-item square effect3 top_to_bottom">
					<a href="javascript:;">
						<div class="img">
							<img src="demo/assets/demo-images/assets/600_400-4.jpg" alt="img">
						</div>
						<div class="info">
							<h3>Heading here</h3>
							<p>Description goes here</p>
						</div>
					</a>
				</div>
			</div>
			<div class="col-xl-4">
				<div class="ih-item square effect3 top_to_bottom">
					<a href="javascript:;">
						<div class="img">
							<img src="demo/assets/demo-images/assets/600_400-5.jpg" alt="img">
						</div>
						<div class="info bg-color-info">
							<h3>Heading here</h3>
							<p>Description goes here</p>
						</div>
					</a>
				</div>
			</div>
			<div class="col-xl-4">
				<div class="ih-item square effect3 top_to_bottom">
					<a href="javascript:;">
						<div class="img">
							<img src="demo/assets/demo-images/assets/600_400-6.jpg" alt="img">
						</div>
						<div class="info bg-color-primary">
							<h3>Heading here</h3>
							<p>Description goes here</p>
						</div>
					</a>
				</div>
			</div>
		</div>
	</article>

</section>
