<section class="chapter">

	<div class="feature-callout feature-content-right card-white image-pull clearfix">
		<div class="container-fluid with-maxwidth">
			<div class="col-12 col-md-6 offset-md-6">
				<div class="callout-feature-content">
					<h2>Architecto odit fuga facere</h2>
					<p>Culpa eveniet labore cupiditate at maiores dignissimos, nesciunt quam porro accusantium velit quas? Nam nobis, deleniti
						inventore consequuntur quos vero voluptatum nostrum error porro mollitia, accusantium distinctio nemo expedita ipsum
						quisquam laboriosam</p>
					<button mat-raised-button color="accent" class="btn-lg no-margin">Try it Now</button>
				</div>
			</div>
		</div>
		<div class="col-12 col-md-6 feature-callout-image-pull" style="background-image: url(demo/assets/demo-images/covers/photo-imNop2O1Rit190cSkxXv_1-7069.jpg); background-position: center"></div>
	</div>

	<div class="feature-callout feature-content-left card-white image-pull clearfix">
		<div class="container-fluid with-maxwidth">
			<div class="col-12 col-md-6">
				<div class="callout-feature-content">
					<h2>Commodi molestiae, culpa eveniet</h2>
					<p>Culpa eveniet labore cupiditate at maiores dignissimos, nesciunt quam porro accusantium velit quas? Nam nobis, deleniti
						inventore consequuntur quos vero voluptatum nostrum error porro mollitia, accusantium distinctio nemo expedita ipsum
						quisquam laboriosam</p>
					<button mat-raised-button color="accent" class="btn-lg no-margin">Try it Now</button>
				</div>
			</div>
		</div>
		<div class="col-12 col-md-6 offset-md-6 feature-callout-image-pull" style="background-image: url(demo/assets/demo-images/covers/photo-1455813870877-04a32045af63.jpg); background-position: center"></div>
	</div>

	<div class="feature-callout feature-content-center image-cover">
		<div class="feature-callout-cover has-overlay" style="background-image: url(demo/assets/demo-images/covers/photo-1456374407032-6e4baf58fb62.jpg); background-position: left center">
			<div class="container-fluid with-maxwidth">
				<div class="callout-feature-content">
					<h2>Culpa distinctio nemo</h2>
					<p>Cupiditate at maiores dignissimos, nesciunt quam porro accusantium velit quas? Nam nobis, deleniti inventore consequuntur
						quos vero voluptatum nostrum error porro mollitia, accusantium distinctio nemo expedita ipsum quisquam laboriosam.</p>
					<button mat-raised-button color="accent" class="btn-lg no-margin">Try it Now</button>
				</div>
			</div>
		</div>
	</div>

</section>
