@import '~@angular/material/theming';
$toolbar-breakpoint: 600px;
$fa-font-path: '~font-awesome/fonts';
$grid-breakpoints: (xs: 0, sm: 576px, md: 768px, lg: 992px, xl: 1200px);
// Default colours
$color-white: #fff;
$color-black: #000;
$color-page-not-found-title: #efefef;
$color-page-not-found-detail: #b9b9b9;
// Duplicates
$color-accent: #bf1e5b;
