<div class="app-sign-up-main-container">
	<mat-card class="app-sign-up-card">

		<div class="app-sign-up-header">
			<div class="app-sign-up-logo-container">
				<app-logo></app-logo>
			</div>
		</div>

		<mat-card-content class="app-sign-up-card-content">
			<form class="app-sign-up-form" [formGroup]="form" (ngSubmit)="submit()">
				<mat-form-field class="app-sign-up-input">
					<input matInput formControlName="username" placeholder="Username">
				</mat-form-field>
				<mat-form-field class="app-sign-up-input">
					<input matInput formControlName="password" placeholder="Password" type="password">
				</mat-form-field>
				<mat-form-field class="app-sign-up-input">
					<input matInput formControlName="emailAddress" placeholder="Email Address" type="email">
				</mat-form-field>

				<p *ngIf="errorMessage" class="app-sign-up-error">
					{{errorMessage}}
				</p>

				<p>
					<button class="app-sign-up-button" type="submit" mat-raised-button color="primary">
						SIGN UP
					</button>
				</p>

				<div class="app-sign-up-form-forgot-password">
					<a [routerLink]="['/forgot-password']">Forgot your password?</a>
				</div>
			</form>
		</mat-card-content>

		<div class="app-sign-up-additional-info">
			<a [routerLink]="['/login']">Have an account already? Login</a>
		</div>

	</mat-card>
</div>
