.app-data-table-container {
	display: flex;
	flex-direction: column;
	margin-top: 20px;
	margin-bottom: 30px;

	.article {
		padding-bottom: 0px;
	}

	.box {
		margin-bottom: 0px;
	}

	.app-data-table-header {
		width: 100%;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		height: auto;
		background: $transparent;
		margin-bottom: 10px;

		.title-header {
			display: flex;
			flex-direction: row;
			width: 100%;
			align-items: center;
			justify-content: center;
			height: auto;
			padding-top: 10px;

			.article-title {
				flex-grow: 1;
				border-top: none;
				margin: 6px;
				padding: 4px;
				color: $primary;
			}
		}

		.sub-header {
			width: 100%;
			display: flex;
			flex-direction: row;
			align-items: center;
			justify-content: center;
			height: auto;

			.mat-form-field-underline {
				background-color: $gray-400;
			}

			.mat-form-field {
				font-size: 14px;
				flex-grow: 1;
				margin: 8px 8px 8px 10px;
				padding: 8px 8px 8px 0px;
			}

			.button-create {
				margin: 8px 0px 8px 8px;
			}
		}
	}

	.app-data-table-mat-table {
		padding: 8px;
	}

	.mat-column-actions {
		align-items: center;
		justify-content: center;
		display: flex;
	}

	.mat-header-cell.mat-sort-header-sorted {
		color: black;
	}

	.no-results {
		display: flex;
		justify-content: center;
		padding: 14px;
		font-size: 14px;
		font-style: italic;
	}

	.mat-cell:nth-child(4),
	.mat-header-cell:nth-child(4) {
		flex: 0 0 12%;
	}

	.mat-cell:nth-child(5),
	.mat-header-cell:nth-child(5) {
		flex: 0 0 8%;
	}

	.mat-cell:nth-child(6),
	.mat-header-cell:nth-child(6) {
		flex: 0 0 8%;
	}

	.mat-cell:nth-child(7),
	.mat-header-cell:nth-child(7) {
		flex: 0 0 12%;
	}

	.mat-cell:nth-child(8),
	.mat-header-cell:nth-child(8) {
		flex: 0 0 10%;
	}
}
