<section class="page-with-tabs">

	<div class="page-title">
		<h2>Page Title</h2>
	</div>

	<mat-tab-group>
		<mat-tab label="One">
			<section class="container-fluid">
				<div class="article-title">Blank 1</div>
			</section>
		</mat-tab>
		<mat-tab label="Two">
			<section class="container-fluid">
				<div class="article-title">Blank 2</div>
			</section>
		</mat-tab>
		<mat-tab label="Three">
			<section class="container-fluid">
				<div class="article-title">Blank 3</div>
			</section>
		</mat-tab>
	</mat-tab-group>

</section>
