<!-- <section class="container-fluid with-maxwidth chapter"> -->

<article class="article">
	<h2 class="article-title">Material Radio Button</h2>

	<div class="box box-default">
		<div class="box-header">Basic Usage</div>
		<div class="box-body">
			<p>
				<strong style="display: inline-block; width: 120px;">Radio buttons</strong>
				<mat-radio-group class="mat-radio-group-spacing" [(ngModel)]="radio.group1">
					<mat-radio-button value="Apple">Apple</mat-radio-button>
					<mat-radio-button value="Banana">Banana</mat-radio-button>
					<mat-radio-button value="Mango">Mango</mat-radio-button>
				</mat-radio-group>
			</p>
			<p>
				<strong style="display: inline-block; width: 120px;">Disabled</strong>
				<mat-radio-group class="mat-radio-group-spacing" [(ngModel)]="radio.group2">
					<mat-radio-button *ngFor="let d of radioData" [value]="d.value" [disabled]=" d.isDisabled "> {{ d.label }} </mat-radio-button>
				</mat-radio-group>
			</p>
			<p>
				<strong style="display: inline-block; width: 120px;">Label positions</strong>
				<mat-radio-group class="mat-radio-group-spacing" [(ngModel)]="radio.group4">
					<mat-radio-button value="after" labelPosition="after">Position after radio-button</mat-radio-button>
					<mat-radio-button value="before" labelPosition="before">Position before radio-button</mat-radio-button>
				</mat-radio-group>
			</p>
		</div>
	</div>

</article>

<!-- </section> -->
