.app-login-main-container {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	padding-top: 72px;

	.app-login-header {
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		height: auto;
		background-color: $primary;
		padding: 10px 6px;
	}

	.app-login-logo-container {
		display: flex;
		align-items: center;
		justify-content: center;

		img {
			height: auto;
			width: auto;
		}

		.app-brand-logo {
			height: 64px;
			width: 64px;
			text-align: center;

			.st0 {
				fill: #ffffff;
			}
		}
	}

	.app-login-card {
		padding: 0px 0px 0px 0px;
	}

	.app-login-card-content {
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		padding: 0px 24px 24px 24px;

		.app-login-form {
			display: flex;
			flex-direction: column;
			width: 350px;
			align-items: center;
			justify-content: center;
			margin-top: 2em;
		}

		.app-login-input {
			margin-top: 0.625em;
			width: 300px;
		}

		.app-login-error {
			margin-top: 1em;
			width: 300px;
			color: $danger;
		}

		.app-login-button {
			margin-top: 1em;
			margin-bottom: 1em;
			padding: 0.625em;
			width: 300px;
			align-items: center;
		}

		.app-login-form-forgot-password {
			padding-bottom: 28px;

			a {
				cursor: pointer;
				font-size: 14px;
				font-family: 'Roboto-Regular';
				color: $primary;
			}
		}
	}

	.app-login-additional-info {
		color: $text-muted;
		background-color: rgba(#000, 0.04);
		padding: 16px 6px;
		position: absolute;
		bottom: 0;
		left: 0;
		right: 0;
		text-align: center;
		font-size: $font-size-sm;

		a {
			cursor: pointer;
			font-size: 12px;
			color: $gray-light;
		}
	}
}
