<div class="app-new-password-main-container">
	<mat-card class="app-new-password-card">

		<div class="app-new-password-header">
			<div class="app-new-password-logo-container">
				<app-logo></app-logo>
			</div>
		</div>

		<mat-card-content class="app-new-password-card-content">
			<form class="app-new-password-form" [formGroup]="form" (ngSubmit)="submit()">

				<mat-form-field class="app-new-password-input">
					<input matInput [minlength]="6" [maxlength]="50" formControlName="password" placeholder="Password" type="password" required>
					<mat-hint align="end">{{form.get('password').value.length}} / 50</mat-hint>
					<mat-error *ngIf="form.get('password').hasError('minlength')">Minimum length is 6</mat-error>
				</mat-form-field>

				<mat-form-field class="app-new-password-input">
					<input matInput [minlength]="6" [maxlength]="50" formControlName="confirmPassword" placeholder="Confirm Password" type="password"
					 required>
					<mat-hint align="end">{{form.get('confirmPassword').value.length}} / 50</mat-hint>
					<mat-error *ngIf="form.get('confirmPassword').hasError('minlength')">Minimum length is 6</mat-error>
				</mat-form-field>

				<p *ngIf="errorMessage" class="app-new-password-error">
					{{errorMessage}}
				</p>

				<p>
					<button class="app-new-password-button" type="submit" mat-raised-button color="primary">
						SUBMIT
					</button>
				</p>

				<div class="app-new-password-form-remember-password">
					<a [routerLink]="['/login']">Remember your password?</a>
				</div>
			</form>
		</mat-card-content>

		<div class="app-new-password-additional-info">
			<a [routerLink]="['/sign-up']">Don't have an account yet? Sign Up</a>
		</div>

	</mat-card>
</div>
