@import 'styles-variables';
:host {
    display: flex;
    flex: 1;
    height: 550px;
    width: 100%;
}

img {
    min-width: 400px;
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

mat-card {
    display: inherit;
    height: 100%;
    width: 100%;
    margin: 20px;
    overflow: hidden;
    overflow-y: scroll;
}

mat-card-content {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

mat-grid-list {
    height: 100%;
    width: 100%;
}

mat-grid-tile {
    overflow: hidden;
    overflow-y: scroll;
}

.stock__item__detail__form {
    height: 100%;
}

.stock__item__detail__input {
    margin-top: 0.625em;
    width: 100%;
}

.stock__item__detail__error {
    margin-top: 1em;
    width: 300px;
    color: red;
}

.stock__item__detail__button {
    margin-top: 1em;
    margin-bottom: 1em;
    margin-left: 0.2em;
    margin-right: 0.2em;
    padding: 0.625em;
    width: 300px;
    align-items: center;
}

.stock__item__detail__button__container {
    display: flex;
    flex: 1;
    width: 100%;
    height: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.customClass {
    background-color: #dd3;
    border-radius: 5px;
    margin: 5px;
    width: 500px;
}

.customClass .img-ul-upload {
    background-color: #000 !important;
}

.customClass .img-ul-clear {
    background-color: #B819BB !important;
}

.customClass .img-ul-drag-box-msg {
    color: purple !important;
}

.customClass .img-ul-container {
    background-color: #FF6CAD !important;
}
