<mat-card>
	<mat-card-content>
		<mat-grid-list cols="2" rowHeight="400px">
			<mat-grid-tile>
				<form novalidate class="stock__item__detail__form" [formGroup]="form" (ngSubmit)="submitUpdate()" [formGroup]="form">
					<mat-form-field class="stock__item__detail__input">
						<input matInput type="text" formControlName="registrationNumber" placeholder="Registration Number">
						<mat-error *ngIf="form.get('registrationNumber').touched && form.get('registrationNumber').hasError('required')">
							Registration number is required
						</mat-error>
					</mat-form-field>

					<mat-form-field class="stock__item__detail__input">
						<input matInput type="text" formControlName="make" placeholder="Make">
						<mat-error *ngIf="form.get('make').touched && form.get('make').hasError('required')">
							Make is required
						</mat-error>
					</mat-form-field>

					<mat-form-field class="stock__item__detail__input">
						<input matInput type="text" formControlName="model" placeholder="Model">
						<mat-error *ngIf="form.get('model').touched && form.get('model').hasError('required')">
							Model is required
						</mat-error>
					</mat-form-field>

					<mat-form-field class="stock__item__detail__input">
						<input matInput type="number" formControlName="modelYear" placeholder="Model Year">
						<mat-error *ngIf="form.get('modelYear').touched && form.get('modelYear').hasError('required')">
							Model Year is required
						</mat-error>
					</mat-form-field>

					<mat-form-field class="stock__item__detail__input">
						<input matInput type="number" formControlName="odometer" placeholder="Odometer">
						<mat-error *ngIf="form.get('odometer').touched && form.get('odometer').hasError('required')">
							Odometer is required
						</mat-error>
					</mat-form-field>

					<mat-form-field class="stock__item__detail__input">
						<input matInput type="text" formControlName="colour" placeholder="Colour">
						<mat-error *ngIf="form.get('colour').touched && form.get('colour').hasError('required')">
							Colour is required
						</mat-error>
					</mat-form-field>

					<mat-form-field class="stock__item__detail__input">
						<input matInput type="text" formControlName="vin" placeholder="VIN">
						<mat-error *ngIf="form.get('vin').touched && form.get('vin').hasError('required')">
							VIN is required
						</mat-error>
					</mat-form-field>

					<mat-form-field class="stock__item__detail__input">
						<input matInput type="text" formControlName="retailPrice" placeholder="Retail Price">
						<mat-error *ngIf="form.get('retailPrice').touched && form.get('retailPrice').hasError('required')">
							RetailPrice is required
						</mat-error>
					</mat-form-field>

					<mat-form-field class="stock__item__detail__input">
						<input matInput type="text" formControlName="costPrice" placeholder="Cost Price">
						<mat-error *ngIf="form.get('costPrice').touched && form.get('costPrice').hasError('required')">
							CostPrice is required
						</mat-error>
					</mat-form-field>
				</form>
			</mat-grid-tile>
			<mat-grid-tile>
				<div *ngIf="isCreate">
					<image-upload [max]="3" [maxFileSize]="9048576" [url]="uploadUrl" [headers]="imageUploadHeaders" [buttonCaption]="'Select Images'"
					 [dropBoxMessage]="''" [extensions]="['jpg','png']" [class]="'customClass'" [style]="imageUploadStyle" (removed)="onRemoved($event)"
					 (uploadFinished)="onUploadFinished($event)"></image-upload>
				</div>
				<img mat-card-sm-image *ngIf="thumbnail && !isCreate" [src]="thumbnail" />
			</mat-grid-tile>
		</mat-grid-list>

		<p *ngIf="errorMessage" class="stock__item__detail__error">
			{{errorMessage}}
		</p>

		<p>
			<button *ngIf="!isCreate" class="stock__item__detail__button" (click)="remove.emit(stockItem)" mat-raised-button color="accent">
				DELETE
			</button>
			<button class="stock__item__detail__button" (click)="submitUpdate()" [disabled]="form.invalid" mat-raised-button color="primary">
				SAVE
			</button>
		</p>

	</mat-card-content>
</mat-card>
