<section class="container-fluid with-maxwidth chapter">

	<article class="article">
		<h2 class="article-title">Icon Boxes</h2>
		<div class="row">

			<div class="col-xl-4">
				<div class="icon-box">
					<div class="ibox-icon">
						<a href="javascript:;">
							<i class="material-icons">devices</i>
						</a>
					</div>
					<h3>Responsive Design</h3>
					<p>Responsive design allows your website to fit on any screen and still be readable and usable.</p>
				</div>
			</div>
			<div class="col-xl-4">
				<div class="icon-box ibox-dark">
					<div class="ibox-icon">
						<a href="javascript:;">
							<i class="material-icons">settings</i>
						</a>
					</div>
					<h3>Easy to Customize</h3>
					<p>Customizer make it easy. Build your own style simply by changing a few settings in the customizer</p>
				</div>
			</div>
			<div class="col-xl-4">
				<div class="icon-box ibox-light">
					<div class="ibox-icon">
						<a href="javascript:;">
							<i class="material-icons">code</i>
						</a>
					</div>
					<h3>Clean code</h3>
					<p>Clean code with popluar Style Guide recommend by official team</p>
				</div>
			</div>

		</div>
		<div class="row">

			<div class="col-xl-4">
				<div class="icon-box ibox-outline">
					<div class="ibox-icon">
						<a href="javascript:;">
							<i class="material-icons">devices</i>
						</a>
					</div>
					<h3>Responsive Design</h3>
					<p>Responsive design allows your website to fit on any screen and still be readable and usable.</p>
				</div>
			</div>
			<div class="col-xl-4">
				<div class="icon-box ibox-outline ibox-dark">
					<div class="ibox-icon">
						<a href="javascript:;">
							<i class="material-icons">settings</i>
						</a>
					</div>
					<h3>Easy to Customize</h3>
					<p>Customizer make it easy. Build your own style simply by changing a few settings in the customizer</p>
				</div>
			</div>
			<div class="col-xl-4">
				<div class="icon-box ibox-outline ibox-light">
					<div class="ibox-icon">
						<a href="javascript:;">
							<i class="material-icons">code</i>
						</a>
					</div>
					<h3>Clean code</h3>
					<p>Clean code with popluar Style Guide recommend by official team</p>
				</div>
			</div>

		</div>
		<div class="row">

			<div class="col-xl-4">
				<div class="icon-box ibox-border">
					<div class="ibox-icon">
						<a href="javascript:;">
							<i class="material-icons">devices</i>
						</a>
					</div>
					<h3>Responsive Design</h3>
					<p>Responsive design allows your website to fit on any screen and still be readable and usable.</p>
				</div>
			</div>
			<div class="col-xl-4">
				<div class="icon-box ibox-border ibox-dark">
					<div class="ibox-icon">
						<a href="javascript:;">
							<i class="material-icons">settings</i>
						</a>
					</div>
					<h3>Easy to Customize</h3>
					<p>Customizer make it easy. Build your own style simply by changing a few settings in the customizer</p>
				</div>
			</div>
			<div class="col-xl-4">
				<div class="icon-box ibox-border ibox-light">
					<div class="ibox-icon">
						<a href="javascript:;">
							<i class="material-icons">code</i>
						</a>
					</div>
					<h3>Clean code</h3>
					<p>Clean code with popluar Style Guide recommend by official team</p>
				</div>
			</div>

		</div>
		<div class="row">

			<div class="col-xl-4">
				<div class="icon-box ibox-rounded">
					<div class="ibox-icon">
						<a href="javascript:;">
							<i class="material-icons">devices</i>
						</a>
					</div>
					<h3>Responsive Design</h3>
					<p>Responsive design allows your website to fit on any screen and still be readable and usable.</p>
				</div>
			</div>
			<div class="col-xl-4">
				<div class="icon-box ibox-rounded ibox-dark">
					<div class="ibox-icon">
						<a href="javascript:;">
							<i class="material-icons">settings</i>
						</a>
					</div>
					<h3>Easy to Customize</h3>
					<p>Customizer make it easy. Build your own style simply by changing a few settings in the customizer</p>
				</div>
			</div>
			<div class="col-xl-4">
				<div class="icon-box ibox-rounded ibox-light">
					<div class="ibox-icon">
						<a href="javascript:;">
							<i class="material-icons">code</i>
						</a>
					</div>
					<h3>Clean code</h3>
					<p>Clean code with popluar Style Guide recommend by official team</p>
				</div>
			</div>

		</div>
		<div class="row">

			<div class="col-xl-4">
				<div class="icon-box ibox-plain">
					<div class="ibox-icon">
						<a href="javascript:;">
							<i class="material-icons">devices</i>
						</a>
					</div>
					<h3>Responsive Design</h3>
					<p>Responsive design allows your website to fit on any screen and still be readable and usable.</p>
				</div>
			</div>
			<div class="col-xl-4">
				<div class="icon-box ibox-plain ibox-dark">
					<div class="ibox-icon">
						<a href="javascript:;">
							<i class="material-icons">settings</i>
						</a>
					</div>
					<h3>Easy to Customize</h3>
					<p>Customizer make it easy. Build your own style simply by changing a few settings in the customizer</p>
				</div>
			</div>
			<div class="col-xl-4">
				<div class="icon-box ibox-plain ibox-light">
					<div class="ibox-icon">
						<a href="javascript:;">
							<i class="material-icons">code</i>
						</a>
					</div>
					<h3>Clean code</h3>
					<p>Clean code with popluar Style Guide recommend by official team</p>
				</div>
			</div>

		</div>


		<div class="row">

			<div class="col-xl-4">
				<div class="icon-box ibox-plain">
					<div class="ibox-icon">
						<a href="javascript:;">
							<img src="assets/images-demo/image-icons/imac.png" alt="Responsive Layout">
						</a>
					</div>
					<h3>Responsive Design</h3>
					<p>Responsive design allows your website to fit on any screen and still be readable and usable.</p>
				</div>
			</div>
			<div class="col-xl-4">
				<div class="icon-box ibox-plain">
					<div class="ibox-icon">
						<a href="javascript:;">
							<img src="assets/images-demo/image-icons/settings.png" alt="Retina Graphics">
						</a>
					</div>
					<h3>Easy to Customize</h3>
					<p>Customizer make it easy. Build your own style simply by changing a few settings in the customizer</p>
				</div>
			</div>
			<div class="col-xl-4">
				<div class="icon-box ibox-plain">
					<div class="ibox-icon">
						<a href="javascript:;">
							<img src="assets/images-demo/image-icons/package.png" alt="Powerful Performance">
						</a>
					</div>
					<h3>Clean code</h3>
					<p>Clean code with popluar Style Guide recommend by official team</p>
				</div>
			</div>

		</div>
		<div class="row">

			<div class="col-xl-4">
				<div class="icon-box ibox-small ibox-plain">
					<div class="ibox-icon">
						<a href="javascript:;">
							<i class="material-icons">devices</i>
						</a>
					</div>
					<h3>Responsive Design</h3>
					<p>Responsive design allows your website to fit on any screen and still be readable and usable.</p>
				</div>
			</div>
			<div class="col-xl-4">
				<div class="icon-box ibox-small ibox-plain ibox-dark">
					<div class="ibox-icon">
						<a href="javascript:;">
							<i class="material-icons">settings</i>
						</a>
					</div>
					<h3>Easy to Customize</h3>
					<p>Customizer make it easy. Build your own style simply by changing a few settings in the customizer</p>
				</div>
			</div>
			<div class="col-xl-4">
				<div class="icon-box ibox-small ibox-plain ibox-light">
					<div class="ibox-icon">
						<a href="javascript:;">
							<i class="material-icons">code</i>
						</a>
					</div>
					<h3>Clean code</h3>
					<p>Clean code with popluar Style Guide recommend by official team</p>
				</div>
			</div>

		</div>

		<div class="divider divider-lg"></div>
		<div class="row">

			<div class="col-xl-4">
				<div class="box box-default">
					<div class="box-body">
						<div class="icon-box">
							<div class="ibox-icon">
								<a href="javascript:;">
									<i class="material-icons">devices</i>
								</a>
							</div>
							<h3>Responsive Design</h3>
							<p>Responsive design allows your website to fit on any screen and still be readable and usable.</p>
						</div>
					</div>
				</div>
			</div>
			<div class="col-xl-4">
				<div class="box box-default">
					<div class="box-body">
						<div class="icon-box ibox-dark">
							<div class="ibox-icon">
								<a href="javascript:;">
									<i class="material-icons">settings</i>
								</a>
							</div>
							<h3>Easy to Customize</h3>
							<p>Customizer make it easy. Build your own style simply by changing a few settings in the customizer</p>
						</div>
					</div>
				</div>
			</div>
			<div class="col-xl-4">
				<div class="box box-default">
					<div class="box-body">
						<div class="icon-box ibox-light">
							<div class="ibox-icon">
								<a href="javascript:;">
									<i class="material-icons">code</i>
								</a>
							</div>
							<h3>Clean code</h3>
							<p>Clean code with popluar Style Guide recommend by official team</p>
						</div>
					</div>
				</div>
			</div>

		</div>

	</article>


	<article class="article">
		<h2 class="article-title">Centered Icon Boxes</h2>
		<div class="row">

			<div class="col-xl-4">
				<div class="icon-box ibox-center">
					<div class="ibox-icon">
						<a href="javascript:;">
							<i class="material-icons">devices</i>
						</a>
					</div>
					<h3>Responsive Design</h3>
					<p>Responsive design allows your website to fit on any screen and still be readable and usable.</p>
				</div>
			</div>
			<div class="col-xl-4">
				<div class="icon-box ibox-center ibox-dark">
					<div class="ibox-icon">
						<a href="javascript:;">
							<i class="material-icons">settings</i>
						</a>
					</div>
					<h3>Easy to Customize</h3>
					<p>Customizer make it easy. Build your own style simply by changing a few settings in the customizer</p>
				</div>
			</div>
			<div class="col-xl-4">
				<div class="icon-box ibox-center ibox-light">
					<div class="ibox-icon">
						<a href="javascript:;">
							<i class="material-icons">code</i>
						</a>
					</div>
					<h3>Clean code</h3>
					<p>Clean code with popluar Style Guide recommend by official team</p>
				</div>
			</div>

		</div>
		<div class="row">

			<div class="col-xl-4">
				<div class="icon-box ibox-center ibox-outline">
					<div class="ibox-icon">
						<a href="javascript:;">
							<i class="material-icons">devices</i>
						</a>
					</div>
					<h3>Responsive Design</h3>
					<p>Responsive design allows your website to fit on any screen and still be readable and usable.</p>
				</div>
			</div>
			<div class="col-xl-4">
				<div class="icon-box ibox-center ibox-outline ibox-dark">
					<div class="ibox-icon">
						<a href="javascript:;">
							<i class="material-icons">settings</i>
						</a>
					</div>
					<h3>Easy to Customize</h3>
					<p>Customizer make it easy. Build your own style simply by changing a few settings in the customizer</p>
				</div>
			</div>
			<div class="col-xl-4">
				<div class="icon-box ibox-center ibox-outline ibox-light">
					<div class="ibox-icon">
						<a href="javascript:;">
							<i class="material-icons">code</i>
						</a>
					</div>
					<h3>Clean code</h3>
					<p>Clean code with popluar Style Guide recommend by official team</p>
				</div>
			</div>

		</div>
		<div class="row">

			<div class="col-xl-4">
				<div class="icon-box ibox-center ibox-border">
					<div class="ibox-icon">
						<a href="javascript:;">
							<i class="material-icons">devices</i>
						</a>
					</div>
					<h3>Responsive Design</h3>
					<p>Responsive design allows your website to fit on any screen and still be readable and usable.</p>
				</div>
			</div>
			<div class="col-xl-4">
				<div class="icon-box ibox-center ibox-border ibox-dark">
					<div class="ibox-icon">
						<a href="javascript:;">
							<i class="material-icons">settings</i>
						</a>
					</div>
					<h3>Easy to Customize</h3>
					<p>Customizer make it easy. Build your own style simply by changing a few settings in the customizer</p>
				</div>
			</div>
			<div class="col-xl-4">
				<div class="icon-box ibox-center ibox-border ibox-light">
					<div class="ibox-icon">
						<a href="javascript:;">
							<i class="material-icons">code</i>
						</a>
					</div>
					<h3>Clean code</h3>
					<p>Clean code with popluar Style Guide recommend by official team</p>
				</div>
			</div>

		</div>
		<div class="row">

			<div class="col-xl-4">
				<div class="icon-box ibox-center ibox-rounded">
					<div class="ibox-icon">
						<a href="javascript:;">
							<i class="material-icons">devices</i>
						</a>
					</div>
					<h3>Responsive Design</h3>
					<p>Responsive design allows your website to fit on any screen and still be readable and usable.</p>
				</div>
			</div>
			<div class="col-xl-4">
				<div class="icon-box ibox-center ibox-rounded ibox-dark">
					<div class="ibox-icon">
						<a href="javascript:;">
							<i class="material-icons">settings</i>
						</a>
					</div>
					<h3>Easy to Customize</h3>
					<p>Customizer make it easy. Build your own style simply by changing a few settings in the customizer</p>
				</div>
			</div>
			<div class="col-xl-4">
				<div class="icon-box ibox-center ibox-rounded ibox-light">
					<div class="ibox-icon">
						<a href="javascript:;">
							<i class="material-icons">code</i>
						</a>
					</div>
					<h3>Clean code</h3>
					<p>Clean code with popluar Style Guide recommend by official team</p>
				</div>
			</div>

		</div>
		<div class="row">

			<div class="col-xl-4">
				<div class="icon-box ibox-center ibox-plain">
					<div class="ibox-icon">
						<a href="javascript:;">
							<i class="material-icons">devices</i>
						</a>
					</div>
					<h3>Responsive Design</h3>
					<p>Responsive design allows your website to fit on any screen and still be readable and usable.</p>
				</div>
			</div>
			<div class="col-xl-4">
				<div class="icon-box ibox-center ibox-plain ibox-dark">
					<div class="ibox-icon">
						<a href="javascript:;">
							<i class="material-icons">settings</i>
						</a>
					</div>
					<h3>Easy to Customize</h3>
					<p>Customizer make it easy. Build your own style simply by changing a few settings in the customizer</p>
				</div>
			</div>
			<div class="col-xl-4">
				<div class="icon-box ibox-center ibox-plain ibox-light">
					<div class="ibox-icon">
						<a href="javascript:;">
							<i class="material-icons">code</i>
						</a>
					</div>
					<h3>Clean code</h3>
					<p>Clean code with popluar Style Guide recommend by official team</p>
				</div>
			</div>

		</div>

		<div class="divider divider-lg"></div>
		<div class="row">

			<div class="col-xl-4">
				<div class="box box-default">
					<div class="box-body">
						<div class="icon-box ibox-center">
							<div class="ibox-icon">
								<a href="javascript:;">
									<i class="material-icons">devices</i>
								</a>
							</div>
							<h3>Responsive Design</h3>
							<p>Responsive design allows your website to fit on any screen and still be readable and usable.</p>
						</div>
					</div>
				</div>
			</div>
			<div class="col-xl-4">
				<div class="box box-default">
					<div class="box-body">
						<div class="icon-box ibox-center ibox-dark">
							<div class="ibox-icon">
								<a href="javascript:;">
									<i class="material-icons">settings</i>
								</a>
							</div>
							<h3>Easy to Customize</h3>
							<p>Customizer make it easy. Build your own style simply by changing a few settings in the customizer</p>
						</div>
					</div>
				</div>
			</div>
			<div class="col-xl-4">
				<div class="box box-default">
					<div class="box-body">
						<div class="icon-box ibox-center ibox-light">
							<div class="ibox-icon">
								<a href="javascript:;">
									<i class="material-icons">code</i>
								</a>
							</div>
							<h3>Clean code</h3>
							<p>Clean code with popluar Style Guide recommend by official team</p>
						</div>
					</div>
				</div>
			</div>

		</div>

	</article>


	<article class="article">
		<h2 class="article-title">Large Size</h2>
		<div class="row">

			<div class="col-xl-4">
				<div class="icon-box ibox-lg">
					<div class="ibox-icon">
						<a href="javascript:;">
							<i class="material-icons">devices</i>
						</a>
					</div>
					<h3>Responsive Design</h3>
					<p>Responsive design allows your website to fit on any screen and still be readable and usable.</p>
				</div>
			</div>
			<div class="col-xl-4">
				<div class="icon-box ibox-lg ibox-dark">
					<div class="ibox-icon">
						<a href="javascript:;">
							<i class="material-icons">settings</i>
						</a>
					</div>
					<h3>Easy to Customize</h3>
					<p>Customizer make it easy. Build your own style simply by changing a few settings in the customizer</p>
				</div>
			</div>
			<div class="col-xl-4">
				<div class="icon-box ibox-lg ibox-light">
					<div class="ibox-icon">
						<a href="javascript:;">
							<i class="material-icons">code</i>
						</a>
					</div>
					<h3>Clean code</h3>
					<p>Clean code with popluar Style Guide recommend by official team</p>
				</div>
			</div>

		</div>
		<div class="row">

			<div class="col-xl-4">
				<div class="icon-box ibox-lg ibox-outline">
					<div class="ibox-icon">
						<a href="javascript:;">
							<i class="material-icons">devices</i>
						</a>
					</div>
					<h3>Responsive Design</h3>
					<p>Responsive design allows your website to fit on any screen and still be readable and usable.</p>
				</div>
			</div>
			<div class="col-xl-4">
				<div class="icon-box ibox-lg ibox-outline ibox-dark">
					<div class="ibox-icon">
						<a href="javascript:;">
							<i class="material-icons">settings</i>
						</a>
					</div>
					<h3>Easy to Customize</h3>
					<p>Customizer make it easy. Build your own style simply by changing a few settings in the customizer</p>
				</div>
			</div>
			<div class="col-xl-4">
				<div class="icon-box ibox-lg ibox-outline ibox-light">
					<div class="ibox-icon">
						<a href="javascript:;">
							<i class="material-icons">code</i>
						</a>
					</div>
					<h3>Clean code</h3>
					<p>Clean code with popluar Style Guide recommend by official team</p>
				</div>
			</div>

		</div>
		<div class="row">

			<div class="col-xl-4">
				<div class="icon-box ibox-lg ibox-border">
					<div class="ibox-icon">
						<a href="javascript:;">
							<i class="material-icons">devices</i>
						</a>
					</div>
					<h3>Responsive Design</h3>
					<p>Responsive design allows your website to fit on any screen and still be readable and usable.</p>
				</div>
			</div>
			<div class="col-xl-4">
				<div class="icon-box ibox-lg ibox-border ibox-dark">
					<div class="ibox-icon">
						<a href="javascript:;">
							<i class="material-icons">settings</i>
						</a>
					</div>
					<h3>Easy to Customize</h3>
					<p>Customizer make it easy. Build your own style simply by changing a few settings in the customizer</p>
				</div>
			</div>
			<div class="col-xl-4">
				<div class="icon-box ibox-lg ibox-border ibox-light">
					<div class="ibox-icon">
						<a href="javascript:;">
							<i class="material-icons">code</i>
						</a>
					</div>
					<h3>Clean code</h3>
					<p>Clean code with popluar Style Guide recommend by official team</p>
				</div>
			</div>

		</div>
		<div class="row">

			<div class="col-xl-4">
				<div class="icon-box ibox-lg ibox-rounded">
					<div class="ibox-icon">
						<a href="javascript:;">
							<i class="material-icons">devices</i>
						</a>
					</div>
					<h3>Responsive Design</h3>
					<p>Responsive design allows your website to fit on any screen and still be readable and usable.</p>
				</div>
			</div>
			<div class="col-xl-4">
				<div class="icon-box ibox-lg ibox-rounded ibox-dark">
					<div class="ibox-icon">
						<a href="javascript:;">
							<i class="material-icons">settings</i>
						</a>
					</div>
					<h3>Easy to Customize</h3>
					<p>Customizer make it easy. Build your own style simply by changing a few settings in the customizer</p>
				</div>
			</div>
			<div class="col-xl-4">
				<div class="icon-box ibox-lg ibox-rounded ibox-light">
					<div class="ibox-icon">
						<a href="javascript:;">
							<i class="material-icons">code</i>
						</a>
					</div>
					<h3>Clean code</h3>
					<p>Clean code with popluar Style Guide recommend by official team</p>
				</div>
			</div>

		</div>

		<div class="row">

			<div class="col-xl-4">
				<div class="icon-box ibox-lg ibox-plain">
					<div class="ibox-icon">
						<a href="javascript:;">
							<i class="material-icons">devices</i>
						</a>
					</div>
					<h3>Responsive Design</h3>
					<p>Responsive design allows your website to fit on any screen and still be readable and usable.</p>
				</div>
			</div>
			<div class="col-xl-4">
				<div class="icon-box ibox-lg ibox-plain ibox-dark">
					<div class="ibox-icon">
						<a href="javascript:;">
							<i class="material-icons">settings</i>
						</a>
					</div>
					<h3>Easy to Customize</h3>
					<p>Customizer make it easy. Build your own style simply by changing a few settings in the customizer</p>
				</div>
			</div>
			<div class="col-xl-4">
				<div class="icon-box ibox-lg ibox-plain ibox-light">
					<div class="ibox-icon">
						<a href="javascript:;">
							<i class="material-icons">code</i>
						</a>
					</div>
					<h3>Clean code</h3>
					<p>Clean code with popluar Style Guide recommend by official team</p>
				</div>
			</div>

		</div>
		<div class="row">

			<div class="col-xl-4">
				<div class="icon-box ibox-plain">
					<div class="ibox-icon">
						<a href="javascript:;">
							<i class="material-icons">devices</i>
						</a>
					</div>
					<h3>Responsive Design</h3>
					<p>Responsive design allows your website to fit on any screen and still be readable and usable.</p>
				</div>
			</div>
			<div class="col-xl-4">
				<div class="icon-box ibox-plain ibox-dark">
					<div class="ibox-icon">
						<a href="javascript:;">
							<i class="material-icons">settings</i>
						</a>
					</div>
					<h3>Easy to Customize</h3>
					<p>Customizer make it easy. Build your own style simply by changing a few settings in the customizer</p>
				</div>
			</div>
			<div class="col-xl-4">
				<div class="icon-box ibox-plain ibox-light">
					<div class="ibox-icon">
						<a href="javascript:;">
							<i class="material-icons">code</i>
						</a>
					</div>
					<h3>Clean code</h3>
					<p>Clean code with popluar Style Guide recommend by official team</p>
				</div>
			</div>

		</div>

		<!-- Centered -->
		<div class="row">

			<div class="col-xl-4">
				<div class="icon-box ibox-center ibox-lg">
					<div class="ibox-icon">
						<a href="javascript:;">
							<i class="material-icons">devices</i>
						</a>
					</div>
					<h3>Responsive Design</h3>
					<p>Responsive design allows your website to fit on any screen and still be readable and usable.</p>
				</div>
			</div>
			<div class="col-xl-4">
				<div class="icon-box ibox-center ibox-lg ibox-dark">
					<div class="ibox-icon">
						<a href="javascript:;">
							<i class="material-icons">settings</i>
						</a>
					</div>
					<h3>Easy to Customize</h3>
					<p>Customizer make it easy. Build your own style simply by changing a few settings in the customizer</p>
				</div>
			</div>
			<div class="col-xl-4">
				<div class="icon-box ibox-center ibox-lg ibox-light">
					<div class="ibox-icon">
						<a href="javascript:;">
							<i class="material-icons">code</i>
						</a>
					</div>
					<h3>Clean code</h3>
					<p>Clean code with popluar Style Guide recommend by official team</p>
				</div>
			</div>

		</div>
		<div class="row">

			<div class="col-xl-4">
				<div class="icon-box ibox-center ibox-lg ibox-outline">
					<div class="ibox-icon">
						<a href="javascript:;">
							<i class="material-icons">devices</i>
						</a>
					</div>
					<h3>Responsive Design</h3>
					<p>Responsive design allows your website to fit on any screen and still be readable and usable.</p>
				</div>
			</div>
			<div class="col-xl-4">
				<div class="icon-box ibox-center ibox-lg ibox-outline ibox-dark">
					<div class="ibox-icon">
						<a href="javascript:;">
							<i class="material-icons">settings</i>
						</a>
					</div>
					<h3>Easy to Customize</h3>
					<p>Customizer make it easy. Build your own style simply by changing a few settings in the customizer</p>
				</div>
			</div>
			<div class="col-xl-4">
				<div class="icon-box ibox-center ibox-lg ibox-outline ibox-light">
					<div class="ibox-icon">
						<a href="javascript:;">
							<i class="material-icons">code</i>
						</a>
					</div>
					<h3>Clean code</h3>
					<p>Clean code with popluar Style Guide recommend by official team</p>
				</div>
			</div>

		</div>
		<div class="row">

			<div class="col-xl-4">
				<div class="icon-box ibox-center ibox-lg ibox-border">
					<div class="ibox-icon">
						<a href="javascript:;">
							<i class="material-icons">devices</i>
						</a>
					</div>
					<h3>Responsive Design</h3>
					<p>Responsive design allows your website to fit on any screen and still be readable and usable.</p>
				</div>
			</div>
			<div class="col-xl-4">
				<div class="icon-box ibox-center ibox-lg ibox-border ibox-dark">
					<div class="ibox-icon">
						<a href="javascript:;">
							<i class="material-icons">settings</i>
						</a>
					</div>
					<h3>Easy to Customize</h3>
					<p>Customizer make it easy. Build your own style simply by changing a few settings in the customizer</p>
				</div>
			</div>
			<div class="col-xl-4">
				<div class="icon-box ibox-center ibox-lg ibox-border ibox-light">
					<div class="ibox-icon">
						<a href="javascript:;">
							<i class="material-icons">code</i>
						</a>
					</div>
					<h3>Clean code</h3>
					<p>Clean code with popluar Style Guide recommend by official team</p>
				</div>
			</div>

		</div>
		<div class="row">

			<div class="col-xl-4">
				<div class="icon-box ibox-center ibox-lg ibox-rounded">
					<div class="ibox-icon">
						<a href="javascript:;">
							<i class="material-icons">devices</i>
						</a>
					</div>
					<h3>Responsive Design</h3>
					<p>Responsive design allows your website to fit on any screen and still be readable and usable.</p>
				</div>
			</div>
			<div class="col-xl-4">
				<div class="icon-box ibox-center ibox-lg ibox-rounded ibox-dark">
					<div class="ibox-icon">
						<a href="javascript:;">
							<i class="material-icons">settings</i>
						</a>
					</div>
					<h3>Easy to Customize</h3>
					<p>Customizer make it easy. Build your own style simply by changing a few settings in the customizer</p>
				</div>
			</div>
			<div class="col-xl-4">
				<div class="icon-box ibox-center ibox-lg ibox-rounded ibox-light">
					<div class="ibox-icon">
						<a href="javascript:;">
							<i class="material-icons">code</i>
						</a>
					</div>
					<h3>Clean code</h3>
					<p>Clean code with popluar Style Guide recommend by official team</p>
				</div>
			</div>

		</div>
		<div class="row">

			<div class="col-xl-4">
				<div class="icon-box ibox-center ibox-lg ibox-plain">
					<div class="ibox-icon">
						<a href="javascript:;">
							<i class="material-icons">devices</i>
						</a>
					</div>
					<h3>Responsive Design</h3>
					<p>Responsive design allows your website to fit on any screen and still be readable and usable.</p>
				</div>
			</div>
			<div class="col-xl-4">
				<div class="icon-box ibox-center ibox-lg ibox-plain ibox-dark">
					<div class="ibox-icon">
						<a href="javascript:;">
							<i class="material-icons">settings</i>
						</a>
					</div>
					<h3>Easy to Customize</h3>
					<p>Customizer make it easy. Build your own style simply by changing a few settings in the customizer</p>
				</div>
			</div>
			<div class="col-xl-4">
				<div class="icon-box ibox-center ibox-lg ibox-plain ibox-light">
					<div class="ibox-icon">
						<a href="javascript:;">
							<i class="material-icons">code</i>
						</a>
					</div>
					<h3>Clean code</h3>
					<p>Clean code with popluar Style Guide recommend by official team</p>
				</div>
			</div>

		</div>

		<div class="divider divider-lg"></div>
		<div class="row">

			<div class="col-xl-4">
				<div class="box box-default">
					<div class="box-body">
						<div class="icon-box ibox-center ibox-lg">
							<div class="ibox-icon">
								<a href="javascript:;">
									<i class="material-icons">devices</i>
								</a>
							</div>
							<h3>Responsive Design</h3>
							<p>Responsive design allows your website to fit on any screen and still be readable and usable.</p>
						</div>
					</div>
				</div>
			</div>
			<div class="col-xl-4">
				<div class="box box-default">
					<div class="box-body">
						<div class="icon-box ibox-center ibox-lg ibox-dark">
							<div class="ibox-icon">
								<a href="javascript:;">
									<i class="material-icons">settings</i>
								</a>
							</div>
							<h3>Easy to Customize</h3>
							<p>Customizer make it easy. Build your own style simply by changing a few settings in the customizer</p>
						</div>
					</div>
				</div>
			</div>
			<div class="col-xl-4">
				<div class="box box-default">
					<div class="box-body">
						<div class="icon-box ibox-center ibox-lg ibox-light">
							<div class="ibox-icon">
								<a href="javascript:;">
									<i class="material-icons">code</i>
								</a>
							</div>
							<h3>Clean code</h3>
							<p>Clean code with popluar Style Guide recommend by official team</p>
						</div>
					</div>
				</div>
			</div>

		</div>
	</article>

</section>
