<!-- <section class="container-fluid with-maxwidth chapter"> -->

<article class="article">
	<h2 class="article-title">Material Slide Toggle</h2>

	<div class="box box-default">
		<div class="box-header">Basic Usage</div>
		<div class="box-body">

			<form>
				<div class="form-group row">
					<div class="col-md-4" style="margin-top: 15px;">Normal Slide Toggle</div>
					<div class="col-md-8">
						<mat-slide-toggle> Slide Toggle </mat-slide-toggle>
						<span class="space space-md"></span>
						<mat-slide-toggle checked="true"> Slide Toggle </mat-slide-toggle>
					</div>
				</div>
				<div class="divider divider-dashed divider-lg pull-in"></div>
				<div class="form-group row">
					<div class="col-md-4" style="margin-top: 15px;">Disabled Slide Toggle</div>
					<div class="col-md-8">
						<mat-slide-toggle disabled> Slide Toggle (Disabled)</mat-slide-toggle>
						<span class="space space-md"></span>
						<mat-slide-toggle disabled checked="true"> Slide Toggle (Disabled, Checked) </mat-slide-toggle>
					</div>
				</div>

				<div class="divider divider-dashed divider-lg pull-in"></div>
				<div class="form-group row">
					<div class="col-md-4" style="margin-top: 15px;">Slide Toggle Colors</div>
					<div class="col-md-8">
						<mat-slide-toggle color="primary" checked="true"> Primary </mat-slide-toggle>
						<span class="space space-md"></span>
						<mat-slide-toggle color="accent" checked="true"> Accent </mat-slide-toggle>
						<span class="space space-md"></span>
						<mat-slide-toggle color="warn" checked="true"> Warn </mat-slide-toggle>
					</div>
				</div>
			</form>

		</div>
	</div>

</article>

<!-- </section> -->
